<% layout ('layouts/boilerplate.ejs')  %> 
<div class="container">
    <div class="row">
        <div class="col-md-6 col-12 offset-md-3">
            <div class="card shadow text-center p-4">
                <h4>Na tvůj e-mail jsme odeslali odkaz, přes který si můžeš nastavit nové heslo.</h4>
                <p><i class="fas fa-check-circle me-2 fa-3x my-4" style="color:green"></i></p>
            </div>
        </div>
    </div>
</div>