<% layout ('layouts/boilerplate.ejs')  %> 
<div class="container d-flex justify-content-center align-items-center mt-1 mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow">
                <div class="card-body">
                <h5 class="card-title mb-0">Registrace</h5>
                <form class="row g-3 needs-validation mt-1" novalidate action="/auth/user/new" method="POST">
                    <div class="mt-1">
                    <label for="email" class="form-label col-form-label-sm">E-mail</label>
                        <input type="email" class="form-control form-control-sm" id="email" name="email" required>
                    </div>
                    <div class="mt-1">
                        <label for="password" class="form-label col-form-label-sm">Heslo</label>
                        <input type="password" class="form-control form-control-sm" id="password" name="password" minlength=6 required>
                        <div class="invalid-feedback">
                            Heslo musí obsahovat nejméně 6 znaků.
                        </div>
                    </div>
                    <div class="mt-1">
                        <label for="password_confirmation" class="form-label col-form-label-sm">Heslo znovu</label>
                        <input type="password" class="form-control form-control-sm" id="password_confirmation" name="password_confirmation" minlength=6 required>
                        <div class="invalid-feedback">
                            Heslo musí obsahovat nejméně 6 znaků.
                        </div>
                    </div>
                    <div>
                    <button class="btn btn-danger w-100 mt-3" type="submit">Zaregistrovat</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>
    
    <script src="/js/validateForms.js"></script>