<% layout ('layouts/boilerplate.ejs')  %> 
<div class="container mb-5">
    <div class="row">
        <div class="col-lg-4 offset-lg-1 d-flex justify-content-center">
        <div class="" style="max-width:400px;">
            <div class="card height-100">
                <div class="card-body p-4 px-5">
                <div class="text-center">
                    <h1 class="mb-3 mt-2">Vytvořit účet</h1>
                    <p class="text-smaller text-muted text-center mb-0">
                        Většina obsahu InLege je po registraci dostupná zdarma. Napořád. <br>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#moreInfo">Zjistit více</a>
                    </p>
                </div>
                <div class="text-center mt-3">
                    <a class="btn btn-outline-danger w-100 mt-2" href="/auth/google">
                    <i class="fab fa-google me-1"></i> Registrovat se přes Google
                    </a>
                </div>
                <div class="text-center my-2">
                    <span class="text-muted"><small>nebo</small></span>
                </div>
                <% if (requiresPremium) { %>
                    <form class="row g-3 needs-validation mt-1" novalidate action="/auth/user/new?requiresPremium=true" method="POST">
                <% } else { %>
                <form class="row g-3 needs-validation mt-1" novalidate action="/auth/user/new" method="POST">
                <% } %> 
                    <div class="mt-2">
                        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Jméno" required>
                    </div>
                    <div class="mt-3">
                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Příjmení" required>
                    </div>
                    <div class="mt-3">
                        <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" required>
                    </div>
                    <div class="mt-3">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Heslo" minlength=6 required>
                        <div class="invalid-feedback">
                            Heslo musí obsahovat nejméně 6 znaků.
                        </div>
                    </div>
                    <div class="mt-3">
                        <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" placeholder="Heslo pro kontrolu" minlength=6 required>
                        <div class="invalid-feedback">
                            Heslo musí obsahovat nejméně 6 znaků.
                        </div>
                    </div>
                    <div>
                        <select class="form-select" name="faculty" id="faculty">
                            <option selected value="Neuvedeno">Zvolte fakultu</option>
                            <option value="PrF UP">Studuji PrF UP</option>
                            <option value="PrF UK">Studuji PrF UK</option>
                            <option value="PrF MUNI">Studuji PrF MUNI</option>
                            <option value="PrF ZČU">Studuji PrF ZČU</option>
                            <option value="Jiná">Jiná</option>
                            <option value="Uchazeč">Hlásím se ke studiu</option>
                            <option value="Nestuduji">Již nestuduji</option>
                            <option value="Neuvedeno">Nechci uvést</option>
                          </select>
                    </div>
                    <div>
                        <select class="form-select" name="source" id="source">
                            <option selected value="neuvedeno">Jak jste se o nás dozvěděli?</option>
                            <option value="pratele">Od kamaráda/ky</option>
                            <option value="ucitele">Od učitele/ky</option>
                            <option value="instagram">Na Instagramu</option>
                            <option value="facebook">Na Facebooku</option>
                            <option value="google">Na Googlu</option>
                            <option value="odjinud">Odjinud</option>
                          </select>
                    </div>
                    <div>
                        <input type="text" name="school" style="display:none;" tabindex="-1" autocomplete="off">
                    </div>
                    <div class="mt-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="vop" id="vop" required>
                            <label class="form-check-label text-small registration-gdpr" for="vop">
                                Souhlasím se <a href="/legal/vop" target="_blank">všeobecnými obchodními podmínkami</a>
                            </label>
                        </div>
                    </div>
                    <div class="mt-0">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="gdpr" id="gdpr" required>
                            <label class="form-check-label text-small registration-gdpr" for="gdpr">
                                Beru na vědomí <a href="/legal/gdpr" target="_blank">podmínky zpracování osobních údajů</a>
                            </label>
                        </div>
                    </div>
                    
                    <div>
                    <button class="btn btn-lg btn-danger w-100 mt-3" type="submit" id="submit-registration">Pokračovat</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center">
        <div class="nezobrazovat-na-mobilu-landing">
            <div class="card height-100 border-none">
                <div class="card-body">
                    <div class="text-center">
                        <h3 class="mb-3 mt-2">Jaké jsou hlavní výhody <span class="color-1">InLege</span>?</h3>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <div class="reason">
                                <div class="row">
                                    <div class="col-4 d-flex justify-content-center align-items-center">
                                        <div class="rounded-circle reason-icon-background d-flex justify-content-center align-items-center">
                                            <img src="/img/icon-reason-1.png" class="img-fit" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="ml-3">
                                            <h5 class="reason-title">Unikátní přístup</h5>
                                            <p class="reason-content mt-2">Zkušenosti absolventů práv přetavené do více než 10 000 interaktivních otázek a odpovědí.</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="reason">
                                <div class="row">
                                    <div class="col-4 d-flex justify-content-center align-items-center">
                                        <div class="rounded-circle reason-icon-background d-flex justify-content-center align-items-center">
                                            <img src="/img/icon-reason-2.png" class="img-fit" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="ml-3">
                                            <h5 class="reason-title">Připraví tě na vše</h5>
                                            <p class="reason-content mt-2">Efektivní příprava na zkoušky, nezávisle na fázi tvého studia či profesního růstu.</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="reason">
                                <div class="row">
                                    <div class="col-lg-4 d-flex justify-content-center align-items-center">
                                        <div class="rounded-circle reason-icon-background d-flex justify-content-center align-items-center">
                                            <img src="/img/icon-reason-4.png" class="img-fit" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="ml-3">
                                            <h5 class="reason-title">Dostupné pro všechny</h5>
                                            <p class="reason-content mt-2">Věříme, že kvalitní studijní materiály by měly být dostupné pro každého. Alespoň polovina kartiček je vždy zdarma!</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<!-- MODAL - Info o financi politice -->
<div class="modal fade" id="moreInfo" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body" style="text-align: center;">
            <h4 class="modal-title mb-3" style="text-align: center;">Naše vize a obsah zdarma</h4>
            <p class="px-3" style="text-align: left;">V InLege věříme, že kvalitní studijní materiály by měly být dostupné <strong>každému a bezplatně</strong>. Proto jsme se rozhodli udržet <strong>nejméně 50 % kartiček</strong> vždy zdarma. Registrace je nutná pouze pro ukládání tvých rozpracovaných balíčků, správný chod portálu a přístup k testovým otázkám.</p>
            <p class="px-3" style="text-align: left;"><strong>Registrace</strong> je bezplatná a <strong>nezavazuje tě k žádné platbě</strong>, a to ani v budoucnu. Můžeš klidně využívat InLege v jeho bezplatné verzi tak dlouho, jak ti bude vyhovovat.</p>
            <p class="px-3" style="text-align: left;">Pro ty, kteří mají větší nároky na obsah a další funkce, jsme připravili <strong>možnost aktivovat</strong> si pravidelné <strong>předplatné Premium</strong> od 124 Kč měsíčně, které lze kdykoliv zrušit. InLege je však navržené tak, aby bylo i v bezplatné verzi užitečné a pomáhalo ti efektivně se připravovat na zkoušky.</p>
            <p><button class="btn btn-outline-danger" data-bs-dismiss="modal">Zavřít</button></p>
        </div>
      </div>
    </div>
  </div>
    
    <script src="/js/validateForms.js"></script>