<% layout ('layouts/boilerplate.ejs')  %> 
<div class="container mb-5">
    <div class="row">
        <div class="col-lg-4 offset-lg-1 d-flex justify-content-center">
        <div class="" style="max-width:400px;">
            <div class="card height-100">
                <div class="card-body p-4 px-5">
                <div class="text-center">
                    <h1 class="mb-3 mt-2">Vytvořit účet</h1>
                </div>
                <!--
                <div class="text-center mt-3">
                    <a class="btn btn-outline-danger w-100 mt-2" href="/auth/google">
                    <i class="fab fa-google me-1"></i> Registrovat se přes Google
                    </a>
                </div>
                <div class="text-center my-2">
                    <span class="text-muted"><small>nebo</small></span>
                </div>
                -->
                <% if (requiresPremium) { %>
                    <form class="row g-3 needs-validation mt-1" novalidate action="/auth/user/new?requiresPremium=true" method="POST">
                <% } else { %>
                <form class="row g-3 needs-validation mt-1" novalidate action="/auth/user/new" method="POST">
                <% } %> 
                    <div class="mt-3">
                        <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" required>
                    </div>
                    <div class="mt-3">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Heslo" minlength=8 required>
                        <div class="invalid-feedback">
                            Heslo musí obsahovat nejméně 8 znaků.
                        </div>
                    </div>
                    <div>
                        <select class="form-select" name="source" id="source">
                            <option selected value="neuvedeno">Jak jste se o Edookio dozvěděli?</option>
                            <option value="pratele">Od kamaráda/ky</option>
                            <option value="ucitele">Od učitele/ky</option>
                            <option value="instagram">Na Instagramu</option>
                            <option value="facebook">Na Facebooku</option>
                            <option value="google">Na Googlu</option>
                            <option value="odjinud">Odjinud</option>
                          </select>
                    </div>
                    <div>
                        <input type="text" name="school" style="display:none;" tabindex="-1" autocomplete="off">
                    </div>
                    <div class="mt-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="vop" id="vop" required>
                            <label class="form-check-label text-small registration-gdpr" for="vop">
                                Souhlasím se <a href="/legal/vop" target="_blank">všeobecnými obchodními podmínkami</a>
                            </label>
                        </div>
                    </div>
                    <div class="mt-0">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="gdpr" id="gdpr" required>
                            <label class="form-check-label text-small registration-gdpr" for="gdpr">
                                Beru na vědomí <a href="/legal/gdpr" target="_blank">podmínky zpracování osobních údajů</a>
                            </label>
                        </div>
                    </div>
                    
                    <div>
                    <button class="btn btn-lg btn-danger w-100 mt-3" type="submit" id="submit-registration">Pokračovat</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center">
        <div class="nezobrazovat-na-mobilu-landing">
            <div class="card height-100 border-grey">
                <div class="card-body">
                    <div class="text-center">
                        <h3 class="mb-3 mt-2">Jaké jsou hlavní výhody <span class="color-1">Edookio</span>?</h3>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <div class="reason">
                                <div class="row">
                                    <div class="col-4 d-flex justify-content-center align-items-center">
                                        <div class="rounded-circle reason-icon-background d-flex justify-content-center align-items-center">
                                            <img src="/img/icon_ai.png" class="img-fit" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="ml-3">
                                            <h5 class="reason-title">Studuj s pomocí AI</h5>
                                            <p class="reason-content mt-2">Přeměň své poznámky do interaktivních a propojených opakovacích kartiček a testových otázek.</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="reason">
                                <div class="row">
                                    <div class="col-4 d-flex justify-content-center align-items-center">
                                        <div class="rounded-circle reason-icon-background d-flex justify-content-center align-items-center">
                                            <img src="/img/icon_share.png" class="img-fit" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="ml-3">
                                            <h5 class="reason-title">Sdílej svůj obsah s přáteli</h5>
                                            <p class="reason-content mt-2">Svůj obsah můžeš neomezeně sdílet s přáteli. Spojte síly a studujte ještě efektivněji!</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="reason">
                                <div class="row">
                                    <div class="col-lg-4 d-flex justify-content-center align-items-center">
                                        <div class="rounded-circle reason-icon-background d-flex justify-content-center align-items-center">
                                            <img src="/img/icon_mobileandpc.png" class="img-fit" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="ml-3">
                                            <h5 class="reason-title">Studuj kdykoliv a kdekoliv</h5>
                                            <p class="reason-content mt-2">Díky mobilní aplikace můžeš studovat cestou do školy, při čekání na zkoušku nebo třeba doma v posteli.</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
    
    <script src="/js/validateForms.js"></script>