<% if(cookiesAgreed !== true && !currentUser){ %>
    <div class="cookies-warning" id="cookies-warning">
        <p class="">
            Aplikace InLege potřebuje pro správné fungování cookies. | <a href="/legal/cookies">Nastavení cookies</a>
        </p>
        <a href="#" class="btn-agree" id="btn-agree">Povolit vše</a>
    </div>
<% } %>