<% if(cookiesAgreed !== true && !currentUser){ %>
    <div class="cookies-warning">
        <p class="">
            InLege vyžaduje pro správné fungování cookies. Užitím webu souhlasíte s užitím cookies. | <a href="/legal/gdpr">Více informací</a>
        </p>
        
        <a href="#" class="btn-agree" id="btn-agree">Beru na vědomí</a>
    </div>
<% } %>