<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <div class="container">
    <a class="navbar-brand fs-4 p-0" href="/"
      ><img src="/icon.png" alt="" width="30" height="30" /> <%=
      texts.general.projectName %></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if (currentUser && currentUser.admin) { %>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDarkDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Administrace
          </a>
          <ul class="dropdown-menu vybrat-predmet">
            <li>
              <a class="dropdown-item" href="/admin/dashboard">Dashboard</a>
            </li>
            <li><a class="dropdown-item" href="/admin/admin">Admin</a></li>
            <li><a class="dropdown-item" href="/admin/jobs">Jobs</a></li>
            <li>
              <a class="dropdown-item" href="/admin/cardinfos">CardInfos</a>
            </li>
            <li><a class="dropdown-item" href="/admin/stats">Statistiky</a></li>
            <li><a class="dropdown-item" href="/admin/users">Uživatelé</a></li>
            <li>
              <a class="dropdown-item" href="/invoices/issued">Fakturace</a>
            </li>
            <li>
              <a class="dropdown-item" href="/admin/ratings?order=cards"
                >Hodnocení</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/admin/feedbacks">Feedback</a>
            </li>
            <li><a class="dropdown-item" href="/admin/email">Email</a></li>
            <li>
              <a class="dropdown-item" href="/admin/notifications"
                >Notifikace</a
              >
            </li>
          </ul>
        </li>
        <% } %>
      </ul>
      <ul class="navbar-nav ms-auto">
        <% if (!currentUser || currentUser.admin || !currentUser.isTeacher) { %>
        <li class="nav-item">
          <a class="nav-link premium" href="/premium">Premium</a>
        </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <!--<li class="nav-item">
                  <a class="nav-link" href="/about">O projektu</a>
                </li>-->
        <% if (currentUser) { %>
        <li class="nav-item">
          <a class="nav-link" href="/credits">Přidat kredity</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Mé studium</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/category/dashboard">Předměty</a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link" href="/leaderboard"
            >Žebříček
            </a
          >
        </li>-->
        <% } %> <% if (!currentUser) { %>
        <li class="nav-item">
          <a class="nav-link" href="/auth/user/login">Přihlásit se</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/user/new">Registrace</a>
        </li>
        <% } else { %>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDarkDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="far fa-user"></i>
            <% if (currentUser?.isTeacher) { %>
            <span class="color-1">Můj účet</span>
            <% } else { %>
            <span>Můj účet</span>
            <% } %>
          </a>
          <ul class="dropdown-menu vybrat-predmet">
            <li>
              <a class="dropdown-item" href="/auth/user/profile">Profil</a>
            </li>
            <li>
              <a class="dropdown-item" href="/auth/user/activity">Aktivita</a>
            </li>
            <li>
              <a class="dropdown-item" href="/cards/saved">Uložené kartičky</a>
            </li>
            <li>
              <a class="dropdown-item" href="/auth/user/logout">Odhlásit se</a>
            </li>
          </ul>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
