<% layout ('layouts/boilerplate.ejs')  %> 
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h1>Gratulujeme! Dokončil jsi balíček!</h1>
            <a href="/category/<%= category%>">Zpět na kategorii</a>
        </div>
    </div>
</div>