<% layout ('layouts/boilerplate.ejs')  %> 
<div class="container">
    <div class="row">
        <div class="col-md-6 col-12 offset-md-3">
            <div class="card shadow text-center p-4">
                <h3>Gratulujeme!<br /></h3>
                <h6>Dokončil/a jsi balíček "<%= sectionName%>"</h6>
                <div class="my-3 d-flex justify-content-center">
                    <div class="w-75">
                        <div class="progress-bar bg-danger" role="progressbar" style="width:100%" >100%</div>
                    </div>
                </div>
                
                <% if(!demo){ %> 
                    <a href="/category/<%= category%>">Zpět na kategorii</a>
                <% } else { %> 
                    <p>Stejně jako cvičný balíček můžeš zdarma procházet stovky kartiček ze všech oborů práva. Stačí se zdarma zaregistrovat.</p>
                    <a href="/auth/user/new" class="btn btn-lg btn-danger mt-3">Zaregistrovat se zdarma</a>
                <% } %>
            </div>
        </div>
    </div>
</div>