<% layout ('layouts/boilerplate.ejs')  %> 
<div class="container">
    <div class="row">
        <div class="col-md-6 col-12 offset-md-3">
            <div class="card text-center p-4">
                <div class="row">
                    <div class="col-12 mt-4">
                        <i class="fas fa-check-circle green-check"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-4 mb-3">
                        <h3>Hotovo </h3>
                        <h5>Skvělá práce!</h5>
                    </div>
                </div>
                
                <hr>
                <h4 class="mt-3">A co dál?</h4>
                <p class="m-3">S InLege můžeš zdarma procházet <strong>více než 1 500 kartiček</strong> z různých oborů práva. Stačí se zaregistrovat!</p>
                <p class="m-3">Pro ty, kteří chtějí získat maximum, máme připraveno dalších více než tisíc kartiček s předplatným Premium.</p>
                <p>
                    <a href="/auth/user/new" class="btn btn-lg btn-danger mt-3">Zaregistrovat se zdarma</a>
                </p>
            </div>
        </div>
    </div>
</div>