<% layout ('layouts/boilerplate.ejs')  %> 
<div class="row">
    <div class="col-md-3">
        some content
    </div>
    <div class="col-md-9">
        list of categories
        <div class="add-category">
            <form action="/category/new" method="POST">
                <input type="text">
                <button>Přidat kategorii</button>
            </form>
        </div>
    </div>
</div>