<% layout ('../views/layouts/boilerplate.ejs')  %> 
    <h1>Zvol kategorii</h1>
    <ul>
        <li><a href="/cards/getrandomcard/tresthmota">Trestní právo hmotné</a></li>
        <li><a href="/cards/getrandomcard/obcanhmota">Občanské právo hmotné</a></li>
    </ul>
    <a href="/cards/new">Přidat kartu</a>