<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>InLege Premium</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap_customised.css">
        <link rel="stylesheet" href="/css/custom.css">
        <link rel="stylesheet" href="/css/landing.css">
        <link rel="stylesheet" href="/css/premium.css">
        <!-- META TAGS -->
        <meta name="description"               content="Tisíce interaktivních právnických kartiček zdarma. Připrav se na zkoušky zábavnou formou!">
        <meta name="author"                    content="Chilero s. r. o.">
        <meta name="keywords"                  content="pravnicke, karticky, inlege, studium, prava, podklady, priprava">
        <meta name="twitter:title"             content="Studuj práva efektivně s InLege">
        <meta name="twitter:description"       content="Tisíce interaktivních právnických kartiček zdarma. Připrav se na zkoušky zábavnou formou!">
        <meta name="twitter:image"             content="https://www.inlege.cz/img/fb_sharing.png">
        <meta property="og:url"                content="https://www.inlege.cz/" />
        <meta property="og:title"              content="InLege - Studuj právo efektivně!" />
        <meta property="og:description"        content="Tisíce interaktivních kartiček zdarma. Všechny obory práva na jednom místě." />
        <meta property="og:image"              content="/img/fb_sharing.png" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400&family=Roboto&display=swap" rel="stylesheet">
    </head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NNQ2L4K9C9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NNQ2L4K9C9');
  gtag('config', 'AW-990983899');
</script>
<body class="d-flex flex-column vh-100">
    <%- include('./partials/navbar') %> 

    <main role="main"> 
    <%- include('./partials/alert') %>
    
    <section class="jumbotron about-header">
        <div class="container">
            <div class="row">
                <div class="col-md-5 offset-md-1 my-5 p-4">
                <h1 class="jumbotron-heading mb-3">InLege <span class="color-1">Premium</span></h1>
                <p class="lead">InLege nabízí tisíce kartiček zdarma. Pro opravdové fajnšmekry však máme také rozšířenou nabídku kartiček a další funkce jen za pár korun měsíčně.</p>        
            </div>
            </div>
        </div>
    </section>
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center my-5">
                    <h1 class="mb-4">Naše balíčky</h1>
                    <p class="fs-5">Většina opakovacích kartiček je dostupná zdarma s balíčkem Free. Lze si však zvolit také balíček Premium s měsíční, pololetní nebo roční platbou. V rámci balíčku Premium získáš více než 3 000 prémiových kartiček, neomezených přístup k testovým otázkám a další funkce.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="premium-packages">
        <div class="container">
            <div class="row px-lg-5 px-2">
                <div class="col-12 col-lg-3 price-table-wrapper p-0">
                    <div class="card premium-plan-card m-1 mt-0  ">
                        <div class="card-header">
                            <div>
                                <p class="card-header-title">Free</p>
                                <p class="card-header-period">zdarma</p>
                            </div>
                        </div>
                        <div class="price-tag-outer d-flex justify-content-center p-3 pb-0 mt-3">
                            <div class="price-tag-inner">
                                <span class="price">0 Kč</span> / <span class="period">napořád</span>
                            </div>
                        </div> 
                        <p class="text-center monthly-equivalent" style="opacity: 0">(0 Kč za měsíc<sup>*</sup>)</p>
                        <div class="px-3 d-flex justify-content-center premium-card-btn-div">
                            <% if (!currentUser) { %>
                                <a href="/auth/user/new" class="btn btn-danger my-3 w-100">Zaregistrovat se a aktivovat</a> 
                            <% } %>
                            <% if (currentUser && !currentUser.isPremium) { %>
                                <a href="#" id="checkout-button-freemium" class="btn btn-danger my-3 disabled w-100" style="min-width:115px">Balíček Free je aktivní</a> 
                            <% } %>
                            <% if (currentUser && currentUser.isPremium) { %>
                                <a href="#" class="btn btn-danger my-3 disabled w-100">Je aktivní balíček Premium</a> 
                            <% } %>
                        </div>
                        <div class="height-85 premium-card-info-div">
                            <p class="text-center my-3">Bezplatná verze aplikace bez časového omezení.</p>
                            <div class="px-2 color-1">
                                <hr class="custom-hr">
                            </div>
                            <p class="text-center mt-4 mb-2 co-ziskas-text"><b>Co získáš?</b></p>
                            <ul class="text-smaller premium-card-list">
                                <li>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <i class="fas fa-check-circle"></i>
                                        </div>
                                        <div class="px-2">
                                            více než 3 000 kartiček
                                        </div>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <i class="fas fa-check-circle"></i>
                                        </div>
                                        <div class="px-2">
                                            50 testových otázek / měsíc
                                        </div>
                                    </div>
                                </li>
                                
                                <li style="opacity: 0">placeholder</li>
                                <li style="opacity: 0">placeholder</li>
                                <li style="opacity: 0">placeholder</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 mt-5 mt-lg-0 price-table-wrapper p-0">
                    <div class="card premium-plan-card m-1 mt-0  ">
                        <div class="card-header">
                            <div>
                                <p class="card-header-title">Premium</p>
                                <p class="card-header-period">měsíční</p>
                            </div>
                        </div>
                        <div class="price-tag-outer d-flex justify-content-center p-3 pb-0 mt-3">
                            <div class="price-tag-inner ">
                                <span class="price">199 Kč</span> / <span class="period">měsíčně</span>
                            </div>
                        </div> 
                        <p class="text-center monthly-equivalent">(199 Kč za měsíc)</p>
                        <div class="px-3 d-flex justify-content-center premium-card-btn-div">
                            <% if (!currentUser) { %>
                                <a href="/auth/user/new?premium=true" class="btn btn-danger my-3 w-100">Zaregistrovat se a aktivovat</a> 
                            <% } %>
                            <% if (currentUser && !currentUser.isPremium) { %>
                                <a href="#" id="checkout-button-monthly" class="btn btn-danger my-3 w-100" style="min-width:115px">Aktivovat</a> 
                            <% } %>
                            <% if (currentUser && currentUser.isPremium) { %>
                                <a href="#" class="btn btn-danger my-3 disabled w-100">Je aktivní balíček Premium</a> 
                            <% } %>
                        </div>
                        <% if (currentUser && currentUser.premiumGrantedByAdmin) { %>
                            <div>
                                <p class="text-muted text-center" style="font-size: 0.8rem;">Tvé předplatné bylo nastaveno administrátorem. Přepnout na placenou verzi můžeš <a href="#" id="checkout-button-monthly">zde</a>.</p> 
                            </div>
                        <% } %>
                        <div class="height-85 premium-card-info-div">
                            <p class="text-center my-3">Předplatné Premium placené měsíčně.</p>
                            <div class="px-2 color-1">
                                <hr class="custom-hr">
                            </div>
                            <p class="text-center mt-4 mb-2 co-ziskas-text"><b>Co získáš?</b></p>
                            <ul class="text-smaller premium-card-list">
                                <li>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <i class="fas fa-check-circle"></i>
                                        </div>
                                        <div class="px-2">
                                            vše z balíčku Free
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <i class="fas fa-check-circle"></i>
                                        </div>
                                        <div class="px-2">
                                            dalších 3 000+ kartiček
                                        </div>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <i class="fas fa-check-circle"></i>
                                        </div>
                                        <div class="px-2">
                                            testové otázky bez limitu
                                        </div>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <i class="fas fa-check-circle"></i>
                                        </div>
                                        <div class="px-2">
                                            funkce ukládání kartiček
                                        </div>
                                    </div>
                                </li>
                                <li style="opacity: 0">placeholder</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 mt-5 mt-lg-0 price-table-wrapper p-0">
                    <div class="card premium-plan-card m-1 mt-0 premium-recomended  ">
                        <div class="card-header">
                            <div>
                                <p class="card-header-title">Premium</p>
                                <p class="card-header-period">půlroční</p>
                            </div>
                        </div>
                        <div class="price-tag-outer d-flex justify-content-center p-3 pb-0 mt-3">
                            <div class="price-tag-inner">
                                <span class="price">890 Kč</span> / <span class="period">půlročně</span>
                            </div>
                        </div> 
                        <p class="text-center monthly-equivalent">(149 Kč za měsíc<sup>*</sup>)</p>
                        <div class="px-3 d-flex justify-content-center premium-card-btn-div">
                            <% if (!currentUser) { %>
                                <a href="/auth/user/new?premium=true" class="btn btn-danger my-3 w-100">Zaregistrovat se a aktivovat</a> 
                            <% } %>
                            <% if (currentUser && !currentUser.isPremium) { %>
                                <a href="#" id="checkout-button-halfyear" class="btn btn-danger my-3 w-100" style="min-width:115px">Aktivovat</a> 
                            <% } %>
                            <% if (currentUser && currentUser.isPremium) { %>
                                <a href="#" class="btn btn-danger my-3 disabled w-100">Je aktivní balíček Premium</a> 
                            <% } %>
                        </div>
                        <% if (currentUser && currentUser.premiumGrantedByAdmin) { %>
                            <div>
                                <p class="text-muted text-center" style="font-size: 0.8rem;">Tvé předplatné bylo nastaveno administrátorem. Přepnout na placenou verzi můžeš <a href="#" id="checkout-button-halfyear">zde</a>.</p> 
                            </div>
                        <% } %>
                        <div class="height-85 premium-card-text premium-card-info-div">
                            <p class="text-center my-3">Předplatné Premium se slevou za půlroční platbu.</p>
                            <div class="px-2 color-1">
                                <hr class="custom-hr">
                            </div>
                            <p class="text-center mt-4 mb-2 co-ziskas-text"><b>Co získáš?</b></p>
                            <ul class="text-smaller premium-card-list">
                                <li>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <i class="fas fa-check-circle"></i>
                                        </div>
                                        <div class="px-2">
                                            vše z balíčku Free
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <i class="fas fa-check-circle"></i>
                                        </div>
                                        <div class="px-2">
                                            ušetříš 304 Kč<sup>**</sup>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <i class="fas fa-check-circle"></i>
                                        </div>
                                        <div class="px-2">
                                            dalších 3 000+ kartiček
                                        </div>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <i class="fas fa-check-circle"></i>
                                        </div>
                                        <div class="px-2">
                                            testové otázky bez limitu
                                        </div>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <i class="fas fa-check-circle"></i>
                                        </div>
                                        <div class="px-2">
                                            funkce ukládání kartiček
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 mt-5 mt-lg-0 price-table-wrapper p-0">
                    <div class="card premium-plan-card m-1 mt-0  ">
                        <div class="card-header">
                            <div>
                                <p class="card-header-title">Premium</p>
                                <p class="card-header-period">roční</p>
                            </div>
                        </div>
                        <div class="price-tag-outer d-flex justify-content-center p-3 pb-0 mt-3">
                            <div class="price-tag-inner">
                                <span class="price">1 490 Kč</span> / <span class="period">ročně</span>
                            </div> 
                        </div>
                        <p class="text-center monthly-equivalent">(124 Kč za měsíc<sup>*</sup>)</p>
                        <div class="px-3 d-flex justify-content-center premium-card-btn-div">
                            <% if (!currentUser) { %>
                                <a href="/auth/user/new?premium=true" class="btn btn-danger my-3 w-100">Zaregistrovat se a aktivovat</a> 
                            <% } %>
                            <% if (currentUser && !currentUser.isPremium) { %>
                                <a href="#" id="checkout-button-yearly" class="btn btn-danger my-3 w-100" style="min-width:115px">Aktivovat</a> 
                            <% } %>
                            <% if (currentUser && currentUser.isPremium) { %>
                                <a href="#" class="btn btn-danger my-3 disabled w-100">Je aktivní balíček Premium</a> 
                            <% } %>
                        </div>
                        <% if (currentUser && currentUser.premiumGrantedByAdmin) { %>
                            <div>
                                <p class="text-muted text-center" style="font-size: 0.8rem;">Tvé předplatné bylo nastaveno administrátorem. Přepnout na placenou verzi můžeš <a href="#" id="checkout-button-yearly">zde</a>.</p> 
                            </div>
                        <% } %>
                        <div class="height-85 premium-card-info-div">
                            <p class="text-center my-3">Předplatné Premium se slevou za roční platbu.</p>
                            <div class="px-2 color-1">
                                <hr class="custom-hr">
                            </div>
                            <p class="text-center mt-4 mb-2 co-ziskas-text"><b>Co získáš?</b></p>
                            <ul class="text-smaller premium-card-list">
                                <li>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <i class="fas fa-check-circle"></i>
                                        </div>
                                        <div class="px-2">
                                            vše z balíčku Free
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <i class="fas fa-check-circle"></i>
                                        </div>
                                        <div class="px-2">
                                            ušetříš 898 Kč<sup>**</sup>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <i class="fas fa-check-circle"></i>
                                        </div>
                                        <div class="px-2">
                                            dalších 3 000+ kartiček
                                        </div>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <i class="fas fa-check-circle"></i>
                                        </div>
                                        <div class="px-2">
                                            testové otázky bez limitu
                                        </div>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <i class="fas fa-check-circle"></i>
                                        </div>
                                        <div class="px-2">
                                            funkce ukládání kartiček
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
        <div class="row mt-lg-3">
            <div class="col-12 col-sm-8 offset-sm-2 mt-4">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <p class=" text-center p-3 pb-1">Předplatné je automaticky měsíčně nebo ročně (dle typu předplatného) strháváno z tvého účtu. <b>Zrušit jej můžeš kdykoliv.</b></p>
                    <p class=" text-center text-small pt-3 mb-0"><sup>*</sup> Předplatné je placeno vždy za celé zvolené obdobní najednou.</b></p>
                    <p class=" text-center text-small pb-5"><sup>**</sup> Ve srovnání s měsíčním předplatným.</b></p>
                    <% if (currentUser && currentUser.isEditor && !currentUser.isPremium) { %>
                        <a href="#" id="checkout-button-daily" class="btn btn-sm btn-danger my-3" style="min-width:115px">Aktivovat denní předplatné (testovací)</a> 
                    <% } %>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>

    
</main>
    <%- include('./partials/footer') %>
    <%- include('./partials/cookiesBar')%> 
    <!-- JS for Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script> 
    <script src="/js/jquery.min.js" ></script>
    <script src="https://kit.fontawesome.com/c9f8e59b45.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <% if (stripeEnv === "development") { %>
        <script type="text/javascript" src="/js/payments.dev.js"></script>
    <% } else { %>
        <script type="text/javascript" src="/js/payments.js"></script>
    <% } %>
    <script type="text/javascript" src="/js/cookies.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>
</body>
</html>


    

    