body {
  font-family: 'Nunito', sans-serif;
}

/* NEW CARD DESIGN*/
.flip-card {
    width: 100%;
    height: 350px;
    font-size: 1.125rem;
  }

  .flip-card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }

  .flipped .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .flip-card-front {
    transform: rotateX(0deg);
    backface-visibility: hidden;
  }

  .flip-card-back {
    transform: rotateY(180deg);  
    backface-visibility: hidden;
  }

  .front-main-content,
  .back-main-content {
    height: 100%;
    overflow: auto;
  }

  .front-main-content::-webkit-scrollbar{
    display: none;
  }

  .back-main-content::-webkit-scrollbar{
    display: none;
  }

  .front-menu,
  .back-menu {
    padding: 10px;
  }

  #pageB {
    max-height: 100%;
  }

  .card-text p:nth-child(1) {
    margin-bottom: 0;
  }

  .card-text p:nth-child(2) {
    margin-top: 1rem;
  }

/* SHOW CARD PAGE */
.text-smaller {
    font-size: 0.875rem;
}

.border-grey {
  border: 1px solid #DFDFDF;
  border-radius: 0.25rem;
}

/*.inner-card-div {
    width: 96%;
}*/

.hide {
  display: none;
}

.servis-btns a, .servis-btns p {
    font-size: 0.8rem;
    line-height: 1rem;
}


.btn-outline-primary#btn-flip-front:focus {
    outline: none !important;
    box-shadow: none;
}

.btn-outline-primary#btn-flip-front:active {
    outline: none !important;
    box-shadow: none;
}

.btn-outline-primary#btn-flip-back:focus {
    outline: none !important;
    box-shadow: none;
}

.btn-outline-primary#btn-flip-back:active {
    outline: none !important;
    box-shadow: none;
}

.invisible {
    visibility: hidden;
}

.btn-link {
    border: none;
    background-color: #F8F9FA;
    font-size: 0.8rem;
}

.back-link {
    text-decoration: none;
}

#pageB > div > p, #pageB > div > ul {
    text-align: justify;
}

#pageB > div > ul > li {
    padding-top: 0.3rem;
}

#pageB > div > p {
    margin-bottom: 0.5rem;
}

#rotate-back,
#rotate-back-rendered {
  color: #E80F88;
  cursor: pointer;
  height: 100%;
  min-width: 40px;
  font-size: 1.2em;
}

#rotate-back-mobile,
#rotate-back-mobile-rendered {
  color: #E80F88;
  cursor: pointer;
  height: 100%;
  min-width: 40px;
  font-size: 1.2em;
}

#btn-dalsi,
#btn-dalsi-rendered,
#btn-dalsi-last-card,
#btn-otocit,
#btn-otocit-rendered,
#btn-dalsi-filler {
  min-width: 120px;
}

#btn-otocit:focus,
#btn-otocit-rendered:focus,
#btn-otocit:hover,
#btn-otocit-rendered:hover,
#btn-otocit:active,
#btn-otocit-rendered:active {
  border: 1px solid #E80F88;
  background-color: white;
  color:#E80F88;
}

#predchozi-karticka-link {
  cursor: pointer;
}

.save-star {
    color: #E80F88;
    height: 100%;
    min-width: 40px;
    font-size: 1.2em;
}

.spinner-border-small {
    height: 20px;
    width: 20px;
 }
/* Text gradient fade */
  .text-gradient {
    position: relative;
  }
  
  .text-gradient:after {
    position: absolute;
    bottom: 0;  
    height: 18%;
    width: 100%;
    content: "";
    background: linear-gradient(to top,
       rgba(255,255,255, 1) 20%, 
       rgba(255,255,255, 0) 80%
    );
    pointer-events: none; /* so the text is still selectable */
  }

  /*DEMO FINISHED CARD*/
  .demo-finished-card {
    padding: 3rem;
  }

  .demo-finished-main {
    font-size: 1.75rem;
  }

  @media only screen and (max-width: 992px) {
    .nezobrazovat-na-mobilu {
      display: none;
    }
    .save-star {
      font-size: 1.2em;
    }

    #rotate-back-mobile,
    #rotate-back-mobile-rendered,
    .save-star {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .demo-finished-card {
      padding: 1rem;
    }
  
    .demo-finished-main {
      font-size: 1.25rem;
    }
  }

  @media only screen and (min-width: 992px) {
    .zobrazovat-jen-na-mobilu {
      display: none;
    }
    .mobile-btn {
        width: 10rem;
    }
    #rotate-back,
    #rotate-back-rendered,
    .save-star {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }


