/* NEW CARD DESIGN*/
.flip-card {
    width: 100%;
    height: 400px;
  }

  .flip-card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }

  .flipped .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }

  .flip-card-front {

  }

  .flip-card-back {
    transform: rotateY(180deg);
  }

  .front-main-content,
  .back-main-content {
    height: 85%;
    border-bottom: 1px solid #EEEEEE;
    overflow: auto;
  }

  .front-main-content::-webkit-scrollbar{
    display: none;
  }

  .back-main-content::-webkit-scrollbar{
    display: none;
  }

  .front-menu,
  .back-menu {
    height: 15%;
  }

  #pageB {
    max-height: 100%;
  }

/* SHOW CARD PAGE */
.text-smaller {
    font-size: 0.875rem;
}


/*.inner-card-div {
    width: 96%;
}*/

.servis-btns a, .servis-btns p {
    font-size: 0.8rem;
    line-height: 1rem;
}


.btn-outline-primary#btn-flip-front:focus {
    outline: none !important;
    box-shadow: none;
}

.btn-outline-primary#btn-flip-front:active {
    outline: none !important;
    box-shadow: none;
}

.btn-outline-primary#btn-flip-back:focus {
    outline: none !important;
    box-shadow: none;
}

.btn-outline-primary#btn-flip-back:active {
    outline: none !important;
    box-shadow: none;
}

.invisible {
    visibility: hidden;
}

.btn-link {
    border: none;
    background-color: #F8F9FA;
    font-size: 0.8rem;
}

.back-link {
    text-decoration: none;
}

#pageB > div > p, #pageB > div > ul {
    text-align: justify;
}

#pageB > div > ul > li {
    padding-top: 0.3rem;
}

#pageB > div > p {
    margin-bottom: 0.5rem;
}

.save-star {
    color: #E80F88;
    height: 20px;
    width: 20px;
}

.spinner-border-small {
    height: 20px;
    width: 20px;
 }
/* Text gradient fade */
  .text-gradient {
    position: relative;
  }
  
  .text-gradient:after {
    position: absolute;
    bottom: 0;  
    height: 15%;
    width: 100%;
    content: "";
    background: linear-gradient(to top,
       rgba(255,255,255, 1) 20%, 
       rgba(255,255,255, 0) 80%
    );
    pointer-events: none; /* so the text is still selectable */
  }

  @media only screen and (max-width: 992px) {
    .nezobrazovat-na-mobilu {
      display: none;
    }
  }

  @media only screen and (min-width: 992px) {
    .zobrazovat-jen-na-mobilu {
      display: none;
    }
    .mobile-btn {
        width: 10rem;
    }
  }


