/* SHOW CARD PAGE */
.min-height-70px {
    min-height: 70px;
}

.min-height-300px {
    min-height: 300px;
}

.servis-btns {
    font-size: 0.8rem;
}


.btn-outline-primary#btn-flip-front:focus {
    outline: none !important;
    box-shadow: none;
}

.btn-outline-primary#btn-flip-front:active {
    outline: none !important;
    box-shadow: none;
}

.btn-outline-primary#btn-flip-back:focus {
    outline: none !important;
    box-shadow: none;
}

.btn-outline-primary#btn-flip-back:active {
    outline: none !important;
    box-shadow: none;
}

.invisible {
    visibility: hidden;
}