.navbar-brand img {
    margin-bottom: 4px;
    margin-right: 10px;
}

.color-1 {
    color: #E80F88;
}

/*CATEGORY*/
.section-list .add-icon {
    color: green;
}

.section-list .remove-icon {
    color: red;
    background-color: white;
    border-style: none;
    padding: 0;
    margin: 0;
}

.category-box {
    text-align: center;
}

.category-box i {
    font-size: 4rem;
}

.category-box p {
    font-size: 2rem;
}

.category-headline {
    font-weight: 700;
}

.navbar .nav-item .nav-link {
    color:#161619;
    font-weight: 500;
}

.orange-shadow {
    box-shadow: 0 .3rem 0.5rem rgba(232, 15, 136, 0.8);
    border: 1px solid rgba(232, 15, 136, 0.4);;
}

.category-img {
    width: 8rem;
    height: 8rem;
}

.icon-background {
    background-color: #EEEEEE;
    height: 7rem;
    width: 7rem;
}

/* CATEGOGRIES - PREMIUM SECTIONS*/
.golden {
    color: #FFB81C;
}

/* PROFILE - PREMIUM OFFERS*/
.price-tag-outer {
    
}

.price-tag-inner {
    border-radius: 5px;
    text-align: center;
    color: #E80F88;
    transition: all 0.3s;
}

.premium-plan-card {
    transition: all 0.3s;
    border-color: #E80F88;
    border-top-color:#E80F88;
}

.premium-plan-card .card-header {
    background-color:#E80F88;
    text-align: center;
    color: white;
    font-size: large;
    border-bottom: none;
}

.premium-plan-card p {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 0.9rem;
    color: #6C657D
}

.price-tag-inner .price {
    font-weight: 600;
    font-size:x-large;
}

.price-tag-inner .period {
    font-size: smaller;
    color: #6C657D
}