.navbar-brand img {
    margin-bottom: 4px;
    margin-right: 10px;
}

.color-1 {
    color: #E80F88;
}

.text-small {
    font-size: 0.8rem;
}

/*CATEGORY*/
.section-list .add-icon {
    color: green;
}

.section-list .remove-icon {
    color: red;
    background-color: white;
    border-style: none;
    padding: 0;
    margin: 0;
}

.category-box {
    text-align: center;
}

.category-box i {
    font-size: 4rem;
}

.category-box p {
    font-size: 2rem;
}

.category-headline {
    font-weight: 700;
}

.navbar .nav-item .nav-link {
    color:#161619;
    font-weight: 500;
}

.orange-shadow {
    box-shadow: 0 .3rem 0.5rem rgba(232, 15, 136, 0.8);
    border: 1px solid rgba(232, 15, 136, 0.4);;
}

.category-img {
    width: 8rem;
    height: 8rem;
}

.icon-background {
    background-color: #EEEEEE;
    height: 7rem;
    width: 7rem;
}

/* CATEGOGRIES - PREMIUM SECTIONS*/
.golden {
    color: #FFB81C;
}

/* PROFILE - PREMIUM OFFERS*/

.price-tag-inner {
    border-radius: 5px;
    text-align: center;
    color: #E80F88;
    transition: all 0.3s;
}

.premium-plan-card {
    transition: all 0.3s;
    border-color: #E80F88;
    border-top-color:#E80F88;
}

.premium-plan-card .card-header {
    background-color:#E80F88;
    text-align: center;
    color: white;
    font-size: large;
    border-bottom: none;
}

.premium-plan-card p {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 0.9rem;
    color: #6C657D
}

.price-tag-inner .price {
    font-weight: 600;
    font-size:x-large;
}

.price-tag-inner .period {
    font-size: smaller;
    color: #6C657D
}

/* PROFILE */
.profile-card {
    font-size: smaller; 
}

.profile-card .col-8 {
    color: #6C657D;
}

/* COOKIES */

.cookies-warning {
	position: fixed;
  bottom: 0;
  padding: 2px 15px;
	width: 100%;
	text-align: center;
	z-index: 100;
	background-color: rgba(0,0,0,1);
	color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 3px solid white;
}

.cookies-warning p {
  margin: 0;
  padding: 0;
	font-size: 1rem;
}

.cookies-warning a {
  color: white;
  text-decoration: none;
}

.cookies-warning a:hover {
  color: white;
}

.cookies-warning .btn-agree {
    text-decoration: none;
	color: black;
	background: white;
    padding: 5px 20px;
    border-radius: 16px;
    margin: 5px;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    font-weight: bold;
    font-size: 1rem;
}

.cookies-warning .btn-agree:hover {
    color: black;
    background: white;
    text-decoration: none;
}

/* NAVBAR */
.navbar .nav-item .nav-link.premium {
    color: #E80F88;
}

/* FINISHED SECTION */
.finished-progress-bar {
    border-radius: 10px;
}

/* REGISTRATION */
.registration-gdpr {
    margin-top: 2px;
}