

.main-header {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg_cover5.jpeg) no-repeat center center; 
    background-size: cover;
    min-height: 450px;
    color: white;
    background-blend-mode: darken;
}

.call-to-action {
    zoom: 130%;
}

.jumbotron-heading {
    font-size: 8vh;
}

.vision-statement {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg_login.jpeg) no-repeat center center; 
    background-size: cover;
    color: white;
    background-blend-mode: darken;
}

.landing-img {
    width: 100px;
    height: 100px;
}

.img-fit {
    max-width:60%;
    max-height:60%;
}



.card:hover .landing-img { 
    transition: 0.5s;
    filter: grayscale(0%);
    opacity: 1; 
}

.cat-text {
    text-align: center;
}

.cat-text h5 {
    font-size: 1.0rem;
    color: #212529;
    text-decoration: none;
}

.landing-link {
    text-decoration: none;
}

.card {
    height: 100%;
}

/* Alerts */
.alert {
    margin-bottom: 0;
}

/* COOKIES */

.cookies-warning {
	position: fixed;
  bottom: 0;
  padding: 2px 15px;
	width: 100%;
	text-align: center;
	z-index: 100;
	background-color: rgba(0,0,0,1);
	color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 3px solid white;
}

.cookies-warning p {
  margin: 0;
  padding: 0;
	font-size: 1rem;
}

.cookies-warning a {
  color: white;
  text-decoration: none;
}

.cookies-warning a:hover {
  color: white;
}

.cookies-warning .btn-agree {
    text-decoration: none;
	color: black;
	background: white;
    padding: 5px 20px;
    border-radius: 16px;
    margin: 5px;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    font-weight: bold;
    font-size: 1rem;
}

.cookies-warning .btn-agree:hover {
    color: black;
    background: white;
    text-decoration: none;
}

/* INFO CARDS */
.landing-info-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.landing-info {
    padding: 1rem;
}

.landing-info p {
    margin-bottom: 0;
}

.landing-info .info-main {
    color: #E80F88;
    font-weight: bolder;
    font-size: 1.2rem;
}

.color-2 {
    color: #4C0033;
}

.d-none-780-down {
    display:none;
}

.icon-background-landing {
    background-color: #EEEEEE;
    height: 7rem;
    width: 7rem;
}

/*PROC INLEGE SECTION*/
.reason {
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    padding: 1rem;
    height: 100%;
}

.reason-icon-background {
    background-color: #EEEEEE;
    width: 6.5rem;
    height: 6.5rem;
}

.reason-title {
    border-bottom: 2px solid #E80F88;
    display: inline;
    padding-bottom: 3px;
}

.reason-content {
    padding-top: 3px;
}

@media only screen and (max-width: 780px) {
    .landing-info-wrapper {
        flex-direction: column;
    }
    .landing-info {
        flex-basis: 0;
        flex-grow: 1;
        width: 100%;
    }
    .d-none-780-down {
        display:block;
    }

    .d-none-780-up {
        display:none;
    }
  }

  @media only screen and (max-width: 992px) {
    .nezobrazovat-na-mobilu-landing {
      display: none;
    }
  }

  @media only screen and (max-width: 576px) {
    .text-center-on-mobile {
        text-align: center;
    }
    .jumbotron-heading {
        font-size: 6vh;
    }
  }