

body {
    font-family: 'Nunito', sans-serif;
}

.main-header {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg_cover5.jpeg) no-repeat center center; 
    background-size: cover;
    min-height: 450px;
    color: white;
    background-blend-mode: darken;
}

.about-header {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg_cover5.jpeg) no-repeat center center; 
    background-size: cover;
    min-height: 350px;
    color: white;
    background-blend-mode: darken;
}

.call-to-action {
    zoom: 130%;
}

.width-20 {
    width: 20%;
}

.jumbotron-heading {
    font-size: 8vh;
}

.vision-statement {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg_login.jpeg) no-repeat center center; 
    background-size: cover;
    color: white;
    background-blend-mode: darken;
}

.landing-img {
    width: 100px;
    height: 100px;
}

.info-icon {
    max-width: 90px;
    max-height: 90px;
    text-align: center;
}

.img-fit {
    max-width:60%;
    max-height:60%;
}

.img-fit-100 {
    max-width:100%;
    max-height:100%;
    padding: 10px;
    padding-top: 0px;
    padding-right: 15px;
}

.img-fit-profile {
    max-width:100%;
    max-height:100%;
}

.img-fit-small {
    max-width:100%;
    max-height:100%;
}



.card:hover .landing-img { 
    transition: 0.5s;
    filter: grayscale(0%);
    opacity: 1; 
}

.cat-text {
    text-align: center;
}

.cat-text h5 {
    font-size: 1.0rem;
    color: #212529;
    text-decoration: none;
}

.landing-link {
    text-decoration: none;
}

.card {
    height: 100%;
}

/* Alerts */
.alert {
    margin-bottom: 0;
}

/* INFO CARDS */
.landing-info-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.landing-info {
    padding: 1rem;
}

.landing-info p {
    margin-bottom: 0;
}

.landing-info .info-main {
    color: #E80F88;
    font-weight: bolder;
    font-size: 1.2rem;
}

.color-2 {
    color: #4C0033;
}

.d-none-992-down {
    display:none;
}

.icon-background-landing {
    background-color: #EEEEEE;
    height: 7rem;
    width: 7rem;
}

/*PROC INLEGE SECTION*/
.reason {
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    padding: 1rem;
    height: 100%;
}

.reason-icon-background {
    background-color: #EEEEEE;
    width: 6.5rem;
    height: 6.5rem;
}

.profile-pic-size {
    width: 6.5rem;
    height: 6.5rem;
}

.reason-title {
    border-bottom: 2px solid #E80F88;
    display: inline;
    padding-bottom: 3px;
}

.reason-content {
    padding-top: 0.5rem;
}

@media only screen and (max-width: 992px) {
    .landing-info-wrapper {
        flex-direction: column;
    }
    .landing-info {
        flex-basis: 0;
        flex-grow: 1;
        width: 100%;
    }
    .d-none-992-down {
        display:block;
    }

    .d-none-992-up {
        display:none;
    }
  }

  @media only screen and (max-width: 992px) {
    .nezobrazovat-na-mobilu-landing {
      display: none;
    }
  }

  @media only screen and (max-width: 576px) {
    .text-center-on-mobile {
        text-align: center;
    }
    .jumbotron-heading {
        font-size: 6vh;
    }
  }