.main-header {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg_cover5.jpeg) no-repeat center center; 
    background-size: cover;
    min-height: 450px;
    color: white;
    background-blend-mode: darken;
}

.jumbotron-heading {
    font-size: 8vh;
}

.vision-statement {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg_login.jpeg) no-repeat center center; 
    background-size: cover;
    color: white;
    background-blend-mode: darken;
}

.landing-img {
    width: 100px;
    height: 100px;
    opacity: 0.7;
}



.card:hover .landing-img { 
    transition: 0.5s;
    filter: grayscale(0%);
    opacity: 1; 
}

.cat-text {
    text-align: center;
}

.cat-text h5 {
    font-size: 1.2rem;
    color: #212529;
    text-decoration: none;
}

.landing-link {
    text-decoration: none;
}

.card {
    height: 100%;
}
