/* PALETTE #FF0037 #d2002d #790252 #4C0033 */
main {
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2rem;
}

#modal-share .modal-content {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2rem;
  width: 650px;
  height: 800px;
  padding-top: 100px;
}

#modal-share {
  zoom: 180%;
}

.headline {
  font-weight: 800;
  color: #ff0037;
}

.lead-clash {
  font-size: 1.5rem;
}

.period-links {
  margin: 2.5rem 0;
}

.period-links a {
  outline-color: #d2002d;
  border-color: #ff6e1e;
  border: 1px solid #ff6e1e;
  border-radius: 8px;
  padding: 4px 8px;
  color: #ff6e1e;
  background-color: white;
  font-size: medium;
}

.period-links a:hover {
  background-color: white;
}

.period-links .active {
  outline-color: #d2002d;
  background: linear-gradient(90deg, #ff6e1e, #f1471b);
  /* Optional: To ensure backward compatibility */
  background-color: #f1471b; /* Fallback for older browsers */
  border-color: #ff6e1e;
  border-radius: 8px;
  padding: 4px 8px;
  color: white;
}

.leaderboard-item {
  background-color: rgb(247, 244, 239);
  border: 1px solid #bc9b9b;
  border-radius: 18px;
  box-shadow: 0 3px 6px rgba(247, 244, 239, 0.5);
  margin-bottom: 1rem;
  max-width: 540px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.active-user {
  background: yellow;
}

.leaderboard-item .icon {
  max-height: 50px;
  width: auto;
  margin: 0.5rem;
}

.leaderboard-item .ranking {
  font-size: 1.5rem;
}

.leaderboard-item .content {
  width: 100%;
  margin: 0 1rem;
}

.leaderboard-item p {
  text-align: center;
  margin-bottom: 0;
}

.leaderboard-item .nickname {
  text-align: left;
  font-weight: 600;
  font-size: larger;
  width: 50%;
}

.leaderboard-item .points {
  width: 20%;
}

.set-nickname-cta a {
  border: 1px solid white;
  border-radius: 30px;
  padding: 0 1rem;
  margin: 0 0.5rem;
  transition: 300ms;
  font-size: larger;
  margin-top: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.bottom-info {
  text-align: center;
  margin-top: 2rem;
}

.bottom-info .profile-link {
  border: 1px solid white;
  border-radius: 30px;
  padding: 0 0.5rem;
  transition: 300ms;
}
.text-larger {
  font-size: larger;
}

.table-headline {
  padding-left: 2rem;
}

@media only screen and (max-width: 992px) {
  .period-links {
    zoom: 90%;
  }

  .leaderboard-item {
    width: 90%;
  }

  .leaderboard-item .nickname {
    width: 80%;
    font-size: medium;
  }

  .leaderboard-item .points {
    width: 20%;
  }
}
