

.main-header-premium {
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url(../img/bg_cover5.jpeg) no-repeat center center; 
    background-size: cover;
    color: white;
    background-blend-mode: darken;
}

.jumbotron-heading {
    font-size: 8vh;
}

.vision-statement {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg_login.jpeg) no-repeat center center; 
    background-size: cover;
    color: white;
    background-blend-mode: darken;
}

.landing-img {
    width: 100px;
    height: 100px;
    opacity: 0.7;
}



.card:hover .landing-img { 
    transition: 0.5s;
    filter: grayscale(0%);
    opacity: 1; 
}

.cat-text {
    text-align: center;
}

.cat-text h5 {
    font-size: 1.2rem;
    color: #212529;
    text-decoration: none;
}

.landing-link {
    text-decoration: none;
}

.card {
    height: 100%;
}

/* Alerts */
.alert {
    margin-bottom: 0;
}

/* COOKIES */

.cookies-warning {
	position: fixed;
  bottom: 0;
  padding: 2px 15px;
	width: 100%;
	text-align: center;
	z-index: 100;
	background-color: rgba(0,0,0,1);
	color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 3px solid white;
}

.cookies-warning p {
  margin: 0;
  padding: 0;
	font-size: 1rem;
}

.cookies-warning a {
  color: white;
  text-decoration: none;
}

.cookies-warning a:hover {
  color: white;
}

.cookies-warning .btn-agree {
    text-decoration: none;
	color: black;
	background: white;
    padding: 5px 20px;
    border-radius: 16px;
    margin: 5px;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    font-weight: bold;
    font-size: 1rem;
}

.cookies-warning .btn-agree:hover {
    color: black;
    background: white;
    text-decoration: none;
}

/* PROFILE - PREMIUM OFFERS*/
.price-table-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


.price-tag-inner {
    border-radius: 5px;
    text-align: center;
    color: #E80F88;
    transition: all 0.3s;
}

.premium-plan-card {
    transition: all 0.3s;
    border-color: #E80F88;
    border-top-color:#E80F88;
    background-color: rgba(0, 0, 0, 0.5);
    width: 280px;
}

.premium-plan-card:hover {
    transform: translateY(-1rem);
}

.premium-plan-card .card-header {
    background-color:#E80F88;
    text-align: center;
    color: white;
    font-size: x-large;
    border-bottom: none;

}

.premium-plan-card p {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    color: white;
}

.price-tag-inner .price {
    font-weight: 600;
    font-size:x-large;
}

.price-tag-inner .period {
    font-size: smaller;
    color: white
}

.text-small {
    font-size: 0.8rem
}

.w-custom {
    width: 50%
}

.w-custom-80 {
    width: 80%
}

@media only screen and (max-width: 780px) {
    .w-custom {
      width: 80%;
    }
    .premium-plan-card {
        width: 250px;
    }
  }

@media only screen and (max-width: 600px) {
    .price-table-wrapper {
        flex-direction: column;
    }
    .premium-plan-card {
        width: 90%;
    }
  }
