<% layout ('layouts/boilerplate.ejs') %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-12 offset-md-3">
      <div class="card text-center p-4">
        <h3>Platba byla úspěšná</h3>
        <p class="my-4"><i class="fas fa-check-circle green-check"></i></p>
        <h5>Děkujeme!</h5>
        <div class="d-flex justify-content-center mt-3">
          <a href="/" class="btn btn-lg btn-danger w-50">Pustit se do studia</a>
        </div>
      </div>
    </div>
  </div>
</div>
