<% layout ('layouts/boilerplate.ejs')  %> 
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <div class="text-center">
                        <h4 class="mb-3 mt-2">Nahlásit chybu na kartě</h4>
                        <p class="">Objevil/a jsi na kartě formální nebo faktickou chybu? Dej nám vědět a my se na to podíváme.</p>
                    </div>
                    <div class="card p-3 text-small mt-4">
                        <div>
                            <p><strong>Strana A:</strong></p>
                            <p><%= card.pageA %></p>
                        </div>
                        <hr />
                        <div>
                            <p><strong>Strana B:</strong></p>
                            <p><%- card.pageB %></p>
                        </div>
                    </div>
                    <form class="row g-3 mt-1" action="/cards/report/<%= card._id %>" method="POST">
                        <div class="mt-3">
                            <label for="reportMsg" class="form-label" required>Popis chyby</label>
                            <textarea class="form-control" name="reportMsg" id="reportMsg" rows="8"></textarea>
                        </div>
                        <div class="">
                            <button class="btn btn-danger w-100 mt-3" type="submit">Odeslat</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>