<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>InLege Blog</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap_customised.css">
        <link rel="stylesheet" href="/css/custom.css">
        <link rel="stylesheet" href="/css/landing.css">
        <!-- META TAGS -->
        <meta name="description"               content="Blogujeme o studiu na vysoké škole! Efektivní studijní strategie, tipy a triky.">
        <meta name="author"                    content="Chilero s. r. o.">
        <meta name="keywords"                  content="pravnicke, karticky, inlege, studium, prava, podklady, blog">
        <meta name="twitter:title"             content="InLege Blog: Studuj efektivně">
        <meta name="twitter:description"       content="Blogujeme o studiu na vysoké škole! Efektivní studijní strategie, tipy a triky.">
        <meta name="twitter:image"             content="https://www.inlege.cz/img/fb_sharing.png">
        <meta property="og:url"                content="https://www.inlege.cz/" />
        <meta property="og:title"              content="InLege Blog" />
        <meta property="og:description"        content="Blogujeme o studiu na vysoké škole! Efektivní studijní strategie, tipy a triky." />
        <meta property="og:image"              content="/img/fb_sharing.png" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400&family=Roboto&display=swap" rel="stylesheet">
    </head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W9NBWFYGZ1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W9NBWFYGZ1');
  gtag('config', 'AW-990983899');
</script>
<body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar') %> 

    <main role="main"> 
        <%- include('../partials/alert') %>
    

<section class="jumbotron about-header">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-1 my-5 p-4">
            <h1 class="jumbotron-heading mb-3">InLege <span class="color-1">Blog</span></h1>
            <p class="lead">Blogujeme o studiu na vysoké škole! Tipy, triky a efektivní studijní strategie.</p>        
        </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <% if (currentUser && currentUser.admin) { %>
            <div class="row mt-5">
                <div class="col-12 d-flex justify-content-end">
                    <a href="/blog/new" class="btn btn-sm btn-danger">Nový příspěvek</a>
                </div>
            </div>
        <% } %>
        <div class="row mt-5">
            <div class="col-lg-8 offset-lg-2">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card">
                            <img class="card-img-top" src="/img/bg_cover5.jpeg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title"><a href="/blog/id">5 typů pro efektivní studium</a></h5>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            <div class="card-footer">
                              <small class="text-muted text-small">Přidáno 5. června 2023</small>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card">
                            <img class="card-img-top" src="/img/bg_cover5.jpeg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">5 typů pro efektivní studium</h5>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            <div class="card-footer">
                              <small class="text-muted text-small">Přidáno 5. června 2023</small>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card">
                            <img class="card-img-top" src="/img/bg_cover5.jpeg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">5 typů pro efektivní studium</h5>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            <div class="card-footer">
                              <small class="text-muted text-small">Přidáno 5. června 2023</small>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</main>
<%- include('../partials/footer') %>
<%- include('../partials/cookiesBar')%> 
<!-- JS for Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script> 
<script src="/js/jquery.min.js" ></script>
<script src="https://kit.fontawesome.com/c9f8e59b45.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/cookies.js"></script>
</body>
</html>