<% layout ('layouts/boilerplate.ejs')  %> 
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card profile-card">
                <div class="row p-3 pb-0">
                    <div class="col-12">
                        <h3>Kontakt</h3>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-4 fw-bold">
                        <p>Kontaktní osoba</p>
                    </div>
                    <div class="col-8">
                        <p>Mgr. Jakub Spáčil</p>
                    </div>
                    <hr />
                    <div class="col-4 fw-bold">
                        <p>E-mail</p>
                    </div>
                    <div class="col-8">
                        <p><a href="mailto:jakub@inlege.cz">jakub@inlege.cz</a></p>
                    </div>
                    <hr />
                    <div class="col-4 fw-bold">
                        <p>Provozovatel portálu</p>
                    </div>
                    <div class="col-8">
                        <p>Chilero s. r. o.</p>
                    </div>
                    <hr />
                    <div class="col-4 fw-bold">
                        <p>Sídlo</p>
                    </div>
                    <div class="col-8">
                        <p>Ztracená 335/19,<br /> Olomouc 779 00</p>
                    </div>
                    <hr />
                    <div class="col-4 fw-bold">
                        <p>IČO</p>
                    </div>
                    <div class="col-8">
                        <p>08900230</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery.min.js" ></script>
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="/js/profile.js"></script>