<% layout('layouts/boilerplate.ejs') %>
<div class="row" style="text-align: justify">
  <div class="col-md-8 offset-md-2">
    <!-- Main heading -->
    <div class="row">
      <div class="col-12">
        <h3 class="mb-3">Zásady ochrany osobních údajů</h3>
      </div>
    </div>

    <!-- 1. Úvodní text -->
    <div class="row">
      <div class="col-12">
        <p>
          Společnost <strong>Chilero s. r. o.</strong>, se sídlem Kaštanová 3,
          Olomouc 779 00, IČ: 08900230, zapsaná v obchodním rejstříku vedeném
          Krajským soudem v Ostravě, oddíl C, vložka 81220 (dále také jen jako
          „Chilero“) jako správce osobních údajů Vás jako
          <strong>uživatele internetového portálu</strong>
          <a href="https://www.inlege.cz">www.inlege.cz</a>
          informuje o níže popsaném shromažďování a jiném zpracování osobních
          údajů a zásadách ochrany soukromí.
        </p>
        <p>V těchto zásadách ochrany osobních údajů vysvětlujeme:</p>
        <ul>
          <li>jaké údaje o Vás shromažďujeme a z&nbsp;jakého důvodu,</li>
          <li>jak tyto údaje využíváme,</li>
          <li>komu a v&nbsp;jakých případech mohou být údaje předány,</li>
          <li>po jakou dobu údaje zpracováváme,</li>
          <li>
            jaké možnosti nabízíme, včetně získání přístupu k&nbsp;údajům a
            jejich aktualizaci a jaká máte další práva.
          </li>
        </ul>
      </div>
    </div>

    <!-- 2. Proč údaje shromažďujeme... -->
    <div class="row">
      <div class="col-12">
        <h6>Proč údaje shromažďujeme a zpracováváme</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>Údaje shromažďujeme a dále s&nbsp;nimi pracujeme proto:</p>
        <ul>
          <li>
            abychom Vás mohli kontaktovat zpět a poskytli Vám informace, o které
            jste požádali;
          </li>
          <li>
            abychom Vám mohli zasílat newslettery a obchodní sdělení, které
            obsahují obchodní sdělení o novinkách a nabízených službách,
            udělíte-li k&nbsp;tomuto zasílání souhlas;
          </li>
          <li>abychom chránili a podporovali naše podnikání;</li>
          <li>abychom splnili své právní povinnosti.</li>
        </ul>
        <p>
          V&nbsp;případě, že jste nás požádali o
          <strong>zasílání newsletteru či obchodních sdělení</strong>, udělili
          jste nám tím souhlas se zpracováním Vaší emailové adresy. Vaše údaje
          používáme právě k&nbsp;tomu, abychom Vám mohli zasílat newslettery a
          obchodní sdělení, které obsahují sdělení o novinkách, akcích a
          službách, které poskytujeme.
        </p>
        <p>
          Souhlas se zpracováním osobních údajů pro účely zasílání newsletteru a
          obchodních sdělení můžete kdykoli odvolat zasláním zprávy o odvolání
          souhlasu na emailovou adresu <strong>info@inlege.cz</strong>.
          Newslettery a obchodní sdělení Vám již v takovém případě zasílat
          nebudeme.
        </p>
      </div>
    </div>

    <!-- 3. Rozsah zpracování osobních údajů -->
    <div class="row">
      <div class="col-12">
        <h6>Rozsah zpracování osobních údajů</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>Zpracováváme zejména následující údaje:</p>
        <ol type="a">
          <li>jméno a příjmení</li>
          <li>obchodní firma</li>
          <li>adresa bydliště nebo sídlo společnosti</li>
          <li>telefonický kontakt</li>
          <li>emailová adresa</li>
        </ol>
      </div>
    </div>

    <!-- 4. Kdo má k Vašim osobním údajům přístup -->
    <div class="row">
      <div class="col-12">
        <h6>Kdo má k Vašim osobním údajům přístup</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>
          Vaše osobní údaje zpracovává jako správce společnost Chilero. Vaše
          osobní údaje můžeme za výše uvedenými účely předat našim
          spolupracovníkům, kteří se podílejí na našich službách,
          a&nbsp;subdodavatelům, kteří provádějí služby naším jménem. Dbáme na
          to, že tyto subjekty mají zajištěnu povinnost mlčenlivosti. Jedná se
          například o naši účetní kancelář, poskytovatele marketingové kampaně
          apod. Vaše osobní údaje nejsou předávány mimo území Evropské Unie.
        </p>
      </div>
    </div>

    <!-- 5. Doba zpracování osobních údajů -->
    <div class="row">
      <div class="col-12">
        <h6>Doba zpracování osobních údajů</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>
          Vaše osobní údaje budeme zpracovávat po dobu nezbytně nutnou, tedy
          konkrétně:
        </p>
        <ul>
          <li>
            po dobu, po kterou Vám budeme poskytovat naše služby či plnit
            vzájemnou smlouvu a z&nbsp;důvodu právní ochrany další čtyři roky
            poté, nebo
          </li>
          <li>
            v případě zpracování založeném na Vašem souhlasu (např. se zasíláním
            obchodních sdělení) do jeho odvolání;
          </li>
        </ul>
        <p>
          to platí, není-li právními předpisy vyžadována delší doba (např.
          v&nbsp;případě plnění archivačních povinností podle platných právních
          předpisů, jako jsou například zákon o účetnictví, zákon o archivnictví
          a evidenci nebo zákon o dani z&nbsp;přidané hodnoty).
        </p>
      </div>
    </div>

    <!-- 6. Zabezpečení osobních údajů -->
    <div class="row">
      <div class="col-12">
        <h6>Zabezpečení osobních údajů</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>
          S Vašimi osobními údaji nakládáme zodpovědně a v souladu s českými a
          evropskými právními předpisy. Pro zpracování osobních údajů využíváme
          zejména automatizované, ale i manuální prostředky.
        </p>
        <p>
          Přijali jsme technická a organizační opatření, která zamezují
          zneužití, poškození nebo zničení osobních údajů. Zároveň však platí ta
          skutečnost, že přenos dat prostřednictvím internetu není ze své
          podstaty bezpečný, a proto nemůžeme zaručit 100% bezpečnost takto
          posílaných dat. Vaše osobní údaje jsou uloženy na externím serveru
          v&nbsp;Evropské unii.
        </p>
      </div>
    </div>

    <!-- 7. Vaše práva -->
    <div class="row">
      <div class="col-12">
        <h6>Vaše práva</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>
          Ve vztahu k námi prováděnému zpracování Vašich osobních údajů můžete
          uplatňovat:
        </p>
        <ol type="a">
          <li>
            <strong>právo na přístup k osobním údajům</strong>, tj. kdykoliv
            můžete požádat o naše potvrzení, zda osobní údaje, které se Vás
            týkají, jsou či nejsou zpracovávány, a&nbsp;pokud jsou, pak za
            jakými účely, v&nbsp;jakém rozsahu, komu jsou zpřístupněny, jak
            dlouho je budeme zpracovávat, zda máte právo na opravu, výmaz,
            omezení zpracování či vznést námitku, odkud jsme osobní údaje
            získali a zda dochází na základě zpracování Vašich osobních údajů
            k&nbsp;automatickému rozhodování, včetně případného profilování.
          </li>
          <li>
            <strong>právo na opravu</strong>, tj. kdykoliv nás můžete požádat o
            opravu či doplnění Vašich osobních údajů, pokud by byly nepřesné či
            neúplné.
          </li>
          <li>
            <strong>právo na výmaz („právo být zapomenut“)</strong>, tj. musíme
            vymazat Vaše osobní údaje pokud (i) již nejsou potřebné pro účely,
            pro které byly shromážděny nebo jinak zpracovány, (ii) zpracování je
            protiprávní, (iii) vznesete námitky proti zpracování
            a&nbsp;neexistují žádné převažující oprávněné důvody pro zpracování,
            nebo (iv) nám to ukládá zákonná povinnost.
          </li>
          <li>
            <strong>právo na omezení zpracování údajů</strong>, což znamená, že
            dokud nevyřešíme jakékoliv sporné otázky ohledně zpracování Vašich
            osobních údajů, musíme omezit zpracování Vašich osobních údajů.
          </li>
          <li>
            <strong>právo vznést námitku proti zpracování</strong>, pokud
            vznesete námitku proti zpracování pro účely přímého marketingu,
            nebudeme již Vaše osobní údaje pro tyto účely zpracovávat; pokud
            vznesete námitku proti zpracování v&nbsp;ostatních případech
            zpracování založeném na oprávněném zájmu, nebudeme Vaše osobní údaje
            dále zpracovávat, pokud neprokážeme závažný oprávněný důvod pro
            zpracování, který převažuje nad zájmy nebo právy a&nbsp;svobodami
            Vás jako subjektu údajů, nebo pro určení, výkon nebo obhajobu
            právních nároků.
          </li>
          <li>
            <strong>právo na přenositelnost</strong>, tj. kdykoliv můžete
            požádat o Vaše osobní údaje ve strukturovaném, běžně používaném a
            strojově čitelném formátu, pokud je zpracováváme na základě souhlasu
            nebo smlouvy a provádíme je automatizovaně; je-li to technicky
            proveditelné, předáme Vaše osobní údaje přímo jinému Vámi určenému
            správci.
          </li>
        </ol>
        <p>
          Všechna Vaše práva můžete uplatnit tak, že nás kontaktujete dle Vašeho
          výběru na shora uvedené doručovací adrese nebo na emailové adrese
          <strong>info@inlege.cz</strong>.
        </p>
        <p>
          V případě, že máte pocit, že s Vašimi osobními údaji nenakládáme
          správně, můžete se se svou
          <strong>stížností</strong> obrátit na dozorový úřad, kterým je Úřad
          pro ochranu osobních údajů (<a href="http://www.uoou.cz"
            >www.uoou.cz</a
          >).
        </p>
      </div>
    </div>

    <!-- 8. Zpracování osobních údajů dětí -->
    <div class="row">
      <div class="col-12">
        <h6>Zpracování osobních údajů dětí</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>
          Naše webové stránky
          <a href="https://www.inlege.cz">www.inlege.cz</a> nejsou určeny pro
          děti mladší 16 let. Osobní údaje dětí mladších 16 let v této
          souvislosti nezpracováváme. Pokud si myslíte, že nám nějaké dítě
          poskytlo osobní údaje, prosím kontaktujte nás na emailové adrese
          <strong>info@inlege.cz</strong> a učiníme opatření ke smazání takových
          údajů.
        </p>
      </div>
    </div>

    <!-- 9. Změny Zásad ochrany osobních údajů -->
    <div class="row">
      <div class="col-12">
        <h6>Změny Zásad ochrany osobních údajů</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>
          Tyto zásady osobních údajů budeme podle našeho uvážení aktualizovat
          s&nbsp;cílem zohlednit změny našich postupů týkajících se zpracování
          osobních údajů. Doporučujeme proto průběžně sledovat tyto Zásady
          ochrany osobních údajů. Zásady ochrany osobních údajů jsou aktuální od
          data uvedené účinnosti. Pokud budete nadále používat naši webovou
          stránku, jakmile nabudou změny účinnosti, znamená Vaše trvající
          používání naší internetové stránky, že jste s&nbsp;těmito změnami
          seznámeni.
        </p>
      </div>
    </div>

    <!-- 10. Datum účinnosti -->
    <div class="row">
      <div class="col-12">
        <p>
          <strong
            >Tyto Zásady ochrany osobních údajů jsou účinné od 1. února
            2024.</strong
          >
        </p>
      </div>
    </div>
  </div>
</div>
