<% layout ('layouts/boilerplate.ejs') %>
<div class="row" style="text-align: justify;">
    <div class="col-md-8 offset-md-2">
        <div class="row">
            <div class="col-12">
                <h3 class="mb-3">Postup odstranění uživatelského účtu a informace o smazání dat</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h6>Postup pro smazání účtu</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <p>1.1</p>
            </div>
            <div class="col-11">
                <p>Uživatel může požádat o smazání svého uživatelského účtu kliknutím na tlačítko <strong>"Odstranit"</strong>, které se nachází pod záložkou <strong>"Profil"</strong> v aplikaci.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h6>Smazání a uchování dat</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <p>2.1</p>
            </div>
            <div class="col-11">
                <p>Požadavkem na odstranění uživatelského účtu budou všechna data spojená s účtem kompletně odstraněna z našich systémů. Žádná data nebudou dále uchovávána, což zahrnuje jak osobní údaje, tak i historii aktivit uživatele.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <p>2.2</p>
            </div>
            <div class="col-11">
                <p>Proces kompletního odstranění dat je okamžitý a nedochází k žádnému dalšímu uchovávání údajů. Uživatel má jistotu, že jakmile je jeho účet odstraněn, všechna data jsou trvale smazána.</p>
            </div>
        </div>
    </div>
</div>
