<% layout ('layouts/boilerplate.ejs')  %> 
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>Smlouva o poskytování vzdělávacího obsahu a Všeobecné obchodní podmínky</h2>
        </div>
    </div>