<% layout ('layouts/boilerplate.ejs') %>
<div class="row" style="text-align: justify">
  <div class="col-md-8 offset-md-2">
    <div class="row">
      <div class="col-12">
        <h3 class="mb-3">
          Smlouva o užívání portálu Edookio a Všeobecné obchodní podmínky
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h6>I. Základní ustanovení</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>1.1</p>
      </div>
      <div class="col-11">
        <p>
          Tyto všeobecné obchodní podmínky (dále jen „obchodní podmínky“) vydává
          obchodní společnost Chilero s. r. o., IČO: 08900230, se sídlem Příčná
          1892/4, Nové Město, 110 00 Praha 1, zapsaná u Krajského soudu v
          Ostravě, oddíl C, vložka 81220 (dále jen „poskytovatel“) v souladu s
          ustanovením § 1751 odst. 1 zákona č. 89/2012 Sb., občanský zákoník
          (dále jen „občanský zákoník“).
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>1.2</p>
      </div>
      <div class="col-11">
        <p>
          Obchodní podmínky upravují vztahy mezi poskytovatelem a uživatelem
          vzniklé v souvislosti nebo na základě Smlouvy o užívání portálu
          Edookio (dále jen „Smlouva“), uzavírané mezi poskytovatelem a
          uživatelem prostřednictvím internetových stránek umístněných na
          internetové adrese www.edookio.com (dále jen „internetový portál“).
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>1.3</p>
      </div>
      <div class="col-11">
        <p>
          Na základě Smlouvy se poskytovatel zavazuje umožnit uživateli přístup
          k portálu a jeho funkcím, které zahrnují zejména možnost vytváření
          opakovacích kartiček a testových otázek prostřednictvím umělé
          inteligence i manuálně a přístup k tomuto obsahu prostřednictvím
          webové a mobilní aplikace. Vybrané funkce portálu jsou dostupné
          zdarma, ostatní funkce jsou dostupné pouze po aktivaci předplatného
          Premium.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>1.4</p>
      </div>
      <div class="col-11">
        <p>
          Ustanovení obchodních podmínek jsou nedílnou součástí Smlouvy.
          Uzavřením Smlouvy uživatel vyjadřuje souhlas s obchodními podmínkami a
          potvrzuje, že je s nimi řádně seznámen. Na tyto obchodní podmínky je
          uživatel dostatečným způsobem před uzavřením Smlouvy upozorněn a má
          možnost se s nimi seznámit.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>1.5</p>
      </div>
      <div class="col-11">
        <p>
          Smlouva je uzavřena registrací uživatele v internetovém portálu,
          kterou uživatel potvrzuje, že se se Smlouvou a obchodními podmínkami
          seznámil.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h6>II. Uživatelský účet</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>2.1</p>
      </div>
      <div class="col-11">
        <p>
          Na základě uzavření Smlouvy a registrace uživatele provedené v
          internetovém portálu zřídí poskytovatel uživateli bezplatně
          uživatelský účet (dále jen „uživatelský účet“), ke kterému může
          uživatel přistupovat prostřednictvím internetového portálu.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>2.2</p>
      </div>
      <div class="col-11">
        <p>
          Při registraci uživatelského účtu a při jeho využívání je uživatel
          povinen uvádět správně a pravdivě všechny údaje. Údaje uvedené v
          uživatelském účtu je uživatel při jakékoliv jejich změně povinen
          aktualizovat. Údaje uvedené uživatelem v uživatelském účtu jsou
          poskytovatelem považovány za správné.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>2.3</p>
      </div>
      <div class="col-11">
        <p>
          Přístup k uživatelskému účtu je zabezpečen uživatelským jménem
          (e-mailovou adresou) a heslem. Uživatel je povinen zachovávat
          mlčenlivost ohledně informací nezbytných k přístupu do jeho
          uživatelského účtu, je povinen je chránit, neposkytnout ani
          nezpřístupnit třetí osobě, ani nezveřejnit, neumožnit jejich použití
          nebo zneužití třetí osobou, a odpovídá za újmu způsobenou jejich
          použitím nebo zneužitím ze strany třetích osob. Poskytovatel nenese
          odpovědnost za případné zneužití uživatelského účtu třetími osobami.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>2.4</p>
      </div>
      <div class="col-11">
        <p>
          Poskytovatel si vyhrazuje právo omezit, pozastavit nebo případně
          zrušit uživatelský účet, zejména v případech kdy uživatel neuhradí
          poskytovateli včas sjednanou odměnu dle čl. IV obchodních podmínek či
          v případě, kdy uživatel poruší své povinnosti ze Smlouvy.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>2.5</p>
      </div>
      <div class="col-11">
        <p>
          Uživatel bere na vědomí, že uživatelský účet nemusí být dostupný
          nepřetržitě, a to zejména s ohledem na nutnou údržbu hardwarového a
          softwarového vybavení poskytovatele, popř. nutnou údržbu hardwarového
          a softwarového vybavení třetích osob. Za dočasný výpadek dostupnosti
          uživatelského účtu nenese poskytovatel odpovědnost.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>2.6</p>
      </div>
      <div class="col-11">
        <p>
          Rozsah služeb poskytovaných bezplatně a rozsah služeb poskytovaných v
          rámci předplatného Premium je uveden v ceníku poskytovatele
          <a href="/premium">zde</a>.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>2.7</p>
      </div>
      <div class="col-11">
        <p>
          Generování opakovacích kartiček a testových otázek prostřednictvím
          umělé inteligence je omezeno tzv. AI kredity. AI kredity jsou každý
          měsíc automaticky obnovovány dle limitů pro účty Free a Premium dle
          aktuálního ceníku. Po vyčerpání AI kreditů je možné AI kredity
          jednorázově dokoupit v internetovém portálu.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>2.8</p>
      </div>
      <div class="col-11">
        <p>
          Obsah vygenerovaný prostřednictvím umělé inteligence je autorským
          dílem poskytovatele. Veškerá vlastnická a autorská práva náleží
          poskytovateli. Uživatel je oprávněn tento obsah využívat pro vlastní
          potřebu a sdílet jej prostřednictvím internetového portálu s dalšími
          uživateli. Uživatel je povinen dodržovat autorská práva a práva
          třetích osob k obsahu, ze kterého obsah generuje. Za případné porušení
          nese odpovědnost výhradně uživatel.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-1">
        <p>2.8</p>
      </div>
      <div class="col-11">
        <p>
          Uživatel bere na vědomí, že prostřednictvím funkce sdílení mohou k
          obsahu získat přístup i další uživatelé internetového portálu.
          Uživatel je povinen dodržovat autorská práva a práva třetích osob k
          obsahu, který prostřednictvím internetového portálu sdílí.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h6>III. Uzavření smlouvy</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>3.1</p>
      </div>
      <div class="col-11">
        <p>
          Uživatel souhlasí s použitím komunikačních prostředků na dálku při
          uzavírání Smlouvy. Náklady vzniklé uživateli při použití komunikačních
          prostředků na dálku v souvislosti s uzavřením Smlouvy (např. náklady
          na internetové připojení, náklady na telefonní hovory, apod.) si hradí
          uživatel sám.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>3.2</p>
      </div>
      <div class="col-11">
        <p>
          Registrační formulář na internetovém portálu představuje návrh
          poskytovatele na uzavření smlouvy ve smyslu § 1731 občanského zákoníku
          určený uživateli. Smlouva je uzavřena okamžikem dokončení registrace
          uživatelského účtu. Registrací uživatelského účtu uživatel současně
          potvrzuje, že se seznámil s těmito obchodními podmínkami, s povinností
          uhradit poskytovateli odměnu v případě aktivace předplatného a se
          zásadami ochrany osobních údajů a souhlasí s nimi.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h6>IV. Odměna pro poskytovatele</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>4.1</p>
      </div>
      <div class="col-11">
        <p>
          Přístup k základním vzdělávacím materiálům je uživateli poskytován
          bezplatně. Uživatel je oprávněn dle své úvahy aktivovat pravidelné
          měsíční nebo roční předplatné dle ceníku poskytovatele a získat tak
          přístup k balíčku Premium.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>4.2</p>
      </div>
      <div class="col-11">
        <p>
          Uživatel je oprávněn předplatné kdykoliv ukončit. V takovém případě
          bude přístup k rozšířeným vzdělávacím materiálům omezen uplynutím doby
          předplatného (tzv. ke konci měsíčního nebo ročního období dle
          zvoleného předplatného). Uhrazené předplatné se při ukončení
          předplatného nevrací.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>4.3</p>
      </div>
      <div class="col-11">
        <p>
          Výši předplatného je poskytovatel oprávněn kdykoliv změnit. O této
          změně je poskytovatel povinen uživatele informovat prostřednictvím
          e-mailu nebo uživatelského účtu. Nová výše předplatného bude uživateli
          účtována od nového zúčtovacího období.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>4.4</p>
      </div>
      <div class="col-11">
        <p>
          V případě, že uživatel se změnou výše předplatného nesouhlasí, může do
          14 dnů od oznámení o zvýšení předplatného předplatné ukončit nebo od
          Smlouvy odstoupit.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>4.5</p>
      </div>
      <div class="col-11">
        <p>
          Výše předplatného ke dni účinnosti těchto obchodních podmínek činí 229
          Kč měsíčně nebo 1 490 Kč ročně. V případě aktivace předplatného
          prostřednictvím mobilní aplikace (Apple Pay / Google Play Store) činí
          výše měsíčního předplatného 249 Kč.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h6>
          V. Poskytování přístupu k funkcím a obsahu internetového portálu
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>5.1</p>
      </div>
      <div class="col-11">
        <p>
          Poskytování přístupu k funkcím a obsahu internetového portálu (dále
          také „služba“) bude zahájeno okamžikem uzavřením Smlouvy a vytvořením
          uživatelského účtu.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>5.2</p>
      </div>
      <div class="col-11">
        <p>
          Uživatel, který je spotřebitelem, bere na vědomí a výslovně souhlasí
          se zahájením poskytování služeb před uplynutím zákonné lhůty pro
          odstoupení od smlouvy a prohlašuje, že byl řádně poučen o tom, že
          vyjádřením tohoto souhlasu ztrácí právo na odstoupení od smlouvy ve
          smyslu § 1837 písm. a) občanského zákoníku.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>5.3</p>
      </div>
      <div class="col-11">
        <p>
          Poskytovatel může dočasně přerušit poskytování či omezit dostupnost
          služeb zejména:
        </p>
        <ul style="list-style: none">
          <li>
            a) pokud uživatel přes upozornění poruší své zákonné nebo smluvní
            povinnosti;
          </li>
          <li>
            b) pokud uživatel poskytne nesprávné údaje nebo nenahlásí změnu
            údajů;
          </li>
          <li>
            c) pokud má poskytovatel důvodné podezření na zneužití služby
            uživatelem, dalším uživatelem nebo třetí osobou;
          </li>
          <li>
            d) v případě výskytu technických závad nebo z jiných závažných
            technických nebo provozních důvodů, včetně kontroly, změny či údržby
            technického vybavení, či změny způsobu poskytování služby;
          </li>
          <li>
            e) v případě krizového stavu (zejména živelných pohrom,
            teroristických útoků, epidemií, ohrožení bezpečnosti státu, či
            přijetí jiného opatření oprávněným orgánem veřejné moci, které bude
            mít za následek omezení či vyloučení dostupnosti služeb);
          </li>
          <li>
            f) v případě plánovaných technických odstávek, při údržbách,
            technických kontrolách, revizích, opravách na technických zařízeních
            či prostorách, jejichž prostřednictvím se služba poskytuje nebo z
            důvodu výpadku elektrické energie;
          </li>
          <li>g) v jiných případech vyplývajících z právních předpisů.</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>5.4</p>
      </div>
      <div class="col-11">
        <p>
          V případě přerušení poskytování služeb či omezení jejich dostupnosti
          dle tohoto bodu obchodních podmínek nemá uživatel nárok na poskytnutí
          jakékoliv slevy za období, kdy byla služba přerušena nebo byla omezena
          její dostupnost, stejně tak nemá nárok na náhradu újmy. Poskytovatel
          také není povinen nahradit uživateli újmu, která mu případně vznikne v
          důsledku snížení kvality služeb či vadného poskytnutí služeb.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>5.5</p>
      </div>
      <div class="col-11">
        <p>
          V případě, že k přerušení nebo omezení poskytování služeb dojde v
          důsledku technických závad nebo poruchy, učiní poskytovatel všechny
          kroky, aby obnovil dostupnost a kvalitu služeb. Poskytovatel
          neposkytuje žádné garance ani záruky, kromě záruk vyplývajících z
          právních předpisů.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>5.6</p>
      </div>
      <div class="col-11">
        <p>
          Při využívání služeb je uživatel povinen dodržovat příslušné obecně
          závazné právní předpisy a instrukce poskytovatele.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>5.7</p>
      </div>
      <div class="col-11">
        <p>
          Poskytovatel jakkoliv neodpovídá za vznik poruch, závad nebo
          nefunkčnost služby nebo její části v případech, kdy k těmto poruchám,
          závadám nebo nefunkčnosti došlo následkem objektivně
          nepředpokladatelné a neovlivnitelné události, jež nemá původ v jednání
          poskytovatele. O charakteru, rozsahu a předpokládaném termínu
          odstranění případné poruchy bude v jiných případech uživatel na svou
          žádost informován. V případě závažných či rozsáhlých poruch může být
          doba odstranění poruchy obtížně stanovitelná, když tato je závislá na
          konkrétní situaci a možnostech odstranění poruchy. Poskytovatel se
          zavazuje oznámit uživateli případné plánované technické odstávky s
          plánovanou dobou odstávky delší než 5 hodin v přiměřené době předem
          formou oznámení prostřednictvím uživatelského účtu nebo e-mailem,
          pokud bude o plánovaných technických odstávkách (zejména na základě
          oznámení ze strany provozovatelů sítí či na základě jiných
          skutečností) včas informován či nebudou takovému oznámení bránit jiné
          skutečnosti.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>5.8</p>
      </div>
      <div class="col-11">
        <p>
          Uživatel nesmí využívat služby v rozporu s právními předpisy nebo
          takovým způsobem, který by vedl k porušení práva poskytovatele, práva
          jiných uživatelů či třetích osob.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h6>VI. Reklamace a práva z vadného plnění</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>6.1</p>
      </div>
      <div class="col-11">
        <p>
          Poskytovatel plní vadně zejména pokud po delší časový úsek není služba
          dostupná, a to z důvodu na straně poskytovatele, za které nese
          odpovědnost a mohl je ovlivnit.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>6.2</p>
      </div>
      <div class="col-11">
        <p>
          Práva a povinnosti smluvních stran ohledně práv z vadného plnění se
          řídí příslušnými obecně závaznými předpisy (zejména pak ustanoveními §
          1914 a § 1925 občanského zákoníku, případně zákonem č. 634/1992 Sb., o
          ochraně spotřebitele, ve znění pozdějších předpisů).
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>6.3</p>
      </div>
      <div class="col-11">
        <p>
          Uživatel je oprávněn uplatnit vady služeb u poskytovatele
          prostřednictvím e-mailové adresy edookio@edookio.com, a to bez
          zbytečného odkladu poté, co vadu zjistil, nejpozději však do jednoho
          měsíce od vzniku vady. V reklamaci je uživatel povinen přesně
          specifikovat, v čem vada spočívá nebo jak se projevuje.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>6.4</p>
      </div>
      <div class="col-11">
        <p>
          Poskytovatel je povinen uživateli, jenž je spotřebitelem, zaslat v
          elektronické potvrzení o tom, kdy právo uplatnil, co je obsahem
          reklamace a jaký způsob vyřízení reklamace uživatel požaduje; a dále
          potvrzení o datu a způsobu vyřízení reklamace. Poskytovatel rozhodne o
          reklamaci do deseti pracovních dnů. Do této lhůty se nezapočítává
          přiměřená doba potřebná k odbornému posouzení vady. Reklamace včetně
          odstranění vady musí být vyřízena bez zbytečného odkladu, nejpozději
          do 30 dnů ode dne uplatnění reklamace, pokud se poskytovatel s
          uživatelem nedohodne na delší lhůtě. Reklamace bude vyřízena
          nejpozději do 30 dnů od jejího obdržení ve smyslu § 19 zákona č.
          634/1992 Sb. o ochraně spotřebitele.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>6.5</p>
      </div>
      <div class="col-11">
        <p>
          Vyřízení reklamace dle předchozího odstavce nezakládá nárok uživatele
          na vrácení zaplaceného předplatného, a to ani částečně.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>6.6</p>
      </div>
      <div class="col-11">
        <p>
          Pokud uživatel, jenž je spotřebitelem, není spokojen se způsobem,
          kterým poskytovatel vyřídil jeho reklamaci nebo pokud se domnívá, že
          poskytovatel porušil jeho práva, má možnost obrátit se na
          poskytovatele se žádostí o nápravu. Pokud poskytovatel na žádost o
          nápravu odpoví zamítavě nebo na ni neodpoví do 30 dnů ode dne jejího
          odeslání, spotřebitel má právo podat návrh na zahájení mimosoudního
          řešení svého sporu podle ustanovení § 20d zákona č. 634/1992 Sb., o
          ochraně spotřebitele.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>6.7</p>
      </div>
      <div class="col-11">
        <p>
          Příslušným subjektem pro mimosoudní řešení spotřebitelských sporů s
          poskytovatelem je Česká obchodní inspekce, Štěpánská 567/15, 120 00
          Praha 2, IČ: 00020869, elektronická adresa www.coi.cz nebo jiný
          subjekt pověřený Ministerstvem průmyslu a obchodu zapsaný v seznamu
          subjektů mimosoudního řešení spotřebitelských sporů vedeném
          Ministerstvem průmyslu a obchodu České republiky (seznam je dostupný
          na
          https://www.mpo.cz/cz/ochrana-spotrebitele/mimosoudni-reseni-spotrebitelskych-sporu-adr/seznam-subjektu-mimosoudniho-reseni-spotrebitelskych-sporu–171389/);
          spotřebitel má právo volby, na který z uvedených subjektů mimosoudního
          řešení spotřebitelských sporů se obrátí.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h6>VII. Odpovědnost poskytovatele</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>7.1</p>
      </div>
      <div class="col-11">
        <p>
          Poskytovatel neodpovídá ani za újmu, která byla způsobena v důsledku
          chyby nebo selhání software nebo datového spojení, a to ať se jedná o
          závadu software či datového spojení. Poskytovatel v žádném případě
          neodpovídá ani v případě poškození práv uživatele v důsledku vyzrazení
          nebo zneužití jakýchkoliv přístupových údajů uživatele třetí osobou; v
          důsledku počítačových či obdobných virů; nesprávného postupu uživatele
          při užívání služeb; ani v důsledku porušení smluvních nebo zákonných
          povinností uživatele.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>7.2</p>
      </div>
      <div class="col-11">
        <p>
          Uživateli nevznikají žádné nároky na náhradu újmy v případě přerušení
          poskytování služeb či omezení dostupnosti služeb z důvodů uvedených v
          bodu 5.3. těchto obchodních podmínek, či v případě snížení kvality
          služeb ani v případě přerušení poskytování služeb nebo omezení jejich
          rozsahu v případě provádění kontroly, změn nebo údržby technického
          vybavení či změn způsobu poskytování služeb. Poskytovatel taktéž není
          povinen nahradit uživateli újmu, která mu případně vznikne v důsledku
          vadného poskytnutí služeb.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>7.3</p>
      </div>
      <div class="col-11">
        <p>
          Uživatel bere na vědomí, že užívání služeb je spojeno s určitým
          rizikem výpadků a nefunkčností služby a takové riziko vědomě
          akceptuje.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>7.4</p>
      </div>
      <div class="col-11">
        <p>
          Uživatel a poskytovatel se dohodli, že v případě, kdy poskytovatel
          odpovídá uživateli za vzniklou újmu, odpovídá poskytovatel jen za
          zaviněně způsobenou újmu, a to ohledně majetkové škody přímo spojené s
          poskytováním služeb, nejvýše však do částky odpovídající předplatnému,
          jenž uživatel v daném kalendářním roce poskytovateli uhradil. Současně
          se strany dohodly na vyloučení povinnosti poskytovatele nahradit
          uživateli újmu, kterou nebylo možno v době uzavření Smlouvy rozumně
          předvídat.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h6>VIII. Trvání a ukončení smlouvy</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>8.1</p>
      </div>
      <div class="col-11">
        <p>Smlouva se uzavírá na dobu neurčitou.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>8.2</p>
      </div>
      <div class="col-11">
        <p>
          Pokud tyto obchodní podmínky nestanoví jinak, Smlouva zaniká a)
          výpovědí některé ze stran nebo b) odstoupením od Smlouvy některé ze
          stran.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>8.3</p>
      </div>
      <div class="col-11">
        <p>
          Uživatel a poskytovatel jsou oprávněni i bez udání důvodu Smlouvu
          vypovědět bez výpovědní doby. Výpověď nezakládá nárok uživatele na
          vrácení zaplaceného předplatného.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>8.4</p>
      </div>
      <div class="col-11">
        <p>Poskytovatel je oprávněn od smlouvy odstoupit v případě, že:</p>
        <div class="col-11">
          <p>
            Poskytovatel může dočasně přerušit poskytování či omezit dostupnost
            služeb zejména:
          </p>
          <ul style="list-style: none">
            <li>
              a) poskytovatel přestane být smluvně nebo technicky způsobilým pro
              poskytování služeb, nebo nebude technicky možné služby poskytovat;
            </li>
            <li>
              b) uživatel poruší smluvní nebo zákonné povinnosti a nezjedná
              nápravu ani do 14 (čtrnácti) dnů po doručení výzvy ke zjednání
              nápravy;
            </li>
            <li>
              c) uživatel poruší Smlouvu nebo obchodní podmínky podstatným
              způsobem;
            </li>
            <li>
              d) uživatel uvede nesprávné nebo nepravdivé údaje nebo nenahlásí
              změnu údajů.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>8.5</p>
      </div>
      <div class="col-11">
        <p>
          Odstoupení od smlouvy je účinné okamžikem doručení oznámení o
          odstoupení druhé smluvní straně, a to s účinky ke dni doručení. Práva
          a povinnosti ze Smlouvy plněná a/nebo vzniklá do okamžiku účinků
          odstoupení nejsou dotčena.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>8.6</p>
      </div>
      <div class="col-11">
        <p>
          V případě ukončení Smlouvy kterýmkoliv z výše uvedených způsobů, není
          poskytovatel povinen vrátit uživateli uhrazené předplatné.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h6>IX. Ochrana osobních údajů</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>9.1</p>
      </div>
      <div class="col-11">
        <p>
          Veškeré osobní údaje jsou zpracovávány v souladu s právními předpisy o
          ochraně osobních údajů. Podrobnosti jsou uvedeny v Zásadách zpracování
          osobních údajů zveřejněných na internetových stránkách poskytovatele.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h6>X. Doručování</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>10.1</p>
      </div>
      <div class="col-11">
        <p>
          Závazná komunikace stran bude realizovaná výlučně v elektronické
          formě. Jakékoliv oznámení uživatele a poskytovatele odeslané
          e-mailovou zprávou se bude považovat za doručené okamžikem, kdy
          odesílatel obdržel potvrzení o úplném přenosu zprávy.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>10.2</p>
      </div>
      <div class="col-11">
        <p>
          Uživatel doručuje poskytovateli korespondenci na e-mailovou adresu
          edookio@com. Poskytovatel doručuje uživateli korespondenci na
          e-mailovou adresu uvedenou v jeho uživatelském účtu.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h6>XI. Závěrečná ustanovení</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>11.1</p>
      </div>
      <div class="col-11">
        <p>
          Veškerá ujednání mezi poskytovatelem a uživatelem se řídí právním
          řádem České republiky. Pokud vztah založený Smlouvou obsahuje
          mezinárodní prvek, pak strany sjednávají, že vztah se řídí právem
          České republiky. Tímto nejsou dotčena práva spotřebitele vyplývající z
          obecně závazných právních předpisů.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>11.2</p>
      </div>
      <div class="col-11">
        <p>
          Všechna práva k internetovému portálu a jeho obsahu náleží
          poskytovateli. Je zakázáno kopírovat, upravovat nebo jinak používat
          webové stránky nebo jejich část bez souhlasu poskytovatele.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>11.3</p>
      </div>
      <div class="col-11">
        <p>
          Poskytovatel nenese odpovědnost za chyby vzniklé v důsledku zásahů
          třetích osob do internetového portálu nebo v důsledku jeho užití v
          rozporu s jeho určením. Uživatel nesmí při využívání internetového
          portálu používat postupy, které by mohly mít negativní vliv na jeho
          provoz a nesmí vykonávat žádnou činnost, která by mohla jemu nebo
          třetím osobám umožnit neoprávněně zasahovat či neoprávněně užít
          programové vybavení nebo další součásti tvořící internetový portál a
          užívat internetový portál nebo jeho části či softwarové vybavení
          takovým způsobem, který by byl v rozporu s jeho určením či účelem.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>11.4</p>
      </div>
      <div class="col-11">
        <p>
          Uživatel tímto přebírá na sebe nebezpečí změny okolností ve smyslu §
          1765 odst. 2 občanského zákoníku.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>11.5</p>
      </div>
      <div class="col-11">
        <p>
          Smlouva včetně obchodních podmínek je archivována poskytovatelem v
          elektronické podobě a je přístupná u poskytovatele na základě
          předchozího požadavku uživatele.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>11.6</p>
      </div>
      <div class="col-11">
        <p>
          Tyto obchodní podmínky pro služby je poskytovatel v přiměřeném rozsahu
          oprávněn měnit či doplňovat. O změně obchodních podmínek, včetně
          odměny, je poskytovatel povinen informovat uživatele v dostatečném
          časovém předstihu, zpravidla nejméně 30 dní před účinností změny
          podmínek. Nové obchodní podmínky pro služby vždy ruší a v plném
          rozsahu nahrazují dosavadní obchodní podmínky pro služby, a to
          počínaje dnem účinnosti nového znění. Uživatel může vyslovit nesouhlas
          se změnou obchodních podmínek pro služby, a to zasláním e-mailového
          sdělení nesouhlasu nejpozději do 15 dnů ode dne oznámení. V takovém
          případě Smlouva zaniká dnem účinnosti nových obchodních podmínek.
          Marným uplynutím lhůty pro zaslání nesouhlasu se změnou obchodních
          podmínek pro služby se má za to, že uživatel se změnou podmínek
          souhlasí a změněné podmínky se stanou účinnými dnem v nich uvedeným.
          Dnem nabytí účinnosti změny podmínek dochází zároveň ke změně Smlouvy,
          a to v souladu se změnou podmínek.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <p>11.7</p>
      </div>
      <div class="col-11">
        <p>
          Dozor nad dodržováním povinností poskytovatele podle zákona č.
          634/1992 Sb., o ochraně spotřebitele, vykonává Česká obchodní
          inspekce, se sídlem Štěpánská 15, 120 00 Praha 2.
        </p>
      </div>
    </div>

    <div class="row">
      <p>Tyto obchodní podmínky nabývají účinnosti dnem 1. prosince 2024.</p>
    </div>
  </div>
</div>
